<?

echo "insere mot<hr>";
#echo phpinfo();
$referent=$_SERVER["HTTP_REFERER"];
$changer=$_SERVER["QUERY_STRING"];
$changer=ereg_replace(".*trad","",$changer);
$changer=explode("=",$changer);
$foreign=$changer[0];
$local=$changer[1];

#on verifie que le mot n'est pas déjà dans le vocabulaire, si oui on ne fait rien
$check="SELECT * FROM `ergo_enfrs` WHERE `foreign` LIKE '" .$foreign ."' AND `local` LIKE '" .$local ."'";
#echo "<br>" .$check;
$checkQ=mysql_query($check);
if(mysql_num_rows($checkQ)>0){
	#echo "Ce mot existe déjà";
	header("Location: " .$referent);
	
	exit;
}

#echo "foreign: " .$foreign ."<br>";
#echo "local: " .$local ."<br>";
#inserer le mot
$sql="
INSERT INTO `akademiach18`.`ergo_enfrs` (
`id` ,
`foreign` ,
`local`
)
VALUES (
NULL , '" .$foreign ."', '" .$local ."'
);
";
#echo $sql;
$sqlQ=mysql_query($sql);
if(!$sqlQ){
	echo "SQL error: " .mysql_error();
	exit;
}
	header("Location: " .$referent);

 ?>