<?php
/**
* @version        $Id: menuall.ctp v1.0 22.11.2010 06:18:00 CET $
* @package        Эrgolang
* @copyright      Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
?>
<!-- allemand -->
			<li><a href="/websites/ergolang/cake/allemand">Allemand</a>
					<ul class="sousMenu">
<li><a href="/websites/ergolang/cake/ergoDeefrs/">Dictionnaire allemand <-> français</a></li>
		
				</ul>
</li>
