<!-- russian -->
	<li>
		<a href="/websites/ergolang/cake/russe"><?php __('Русский') ?></a>
		<ul class="sousMenu">		
			<li><a href="/websites/ergolang/cake/ergo_ru_alphabs/alphabet">Alphabet</a></li>
			<li><a href="/websites/ergolang/cake/ergoRufrs/">Vocabulaire</a></li>
			<li><a href="/websites/ergolang/cake/ergoRufrs/categories">Catégories</a></li>
			
			<li><a href="/websites/ergolang/cake/russe/exercices">Exercices</a></li>
		
			<li><a href="/websites/ergolang/cake/ergoRuPhrases/">Textes</a></li>	
			<li><a href="/websites/ergolang/cake/articles/vue/37">Blagues russes</a></li>
				
		<?
if($session->read('Auth.User.username')){
	#experimental to hide to non-auth users
?>
			<li><a href="/websites/ergolang/cake/ergo_ru_stopwords">Stopwords</a></li>
			<li><a href="/websites/ergolang/cake/ergo_ru_stems">Stemmer</a></li>
		
			<li><a href="/websites/ergolang/cake/ergo_ru_grammaires/vue/125">Grammaire</a></li>
			
			<li><a href="<? echo CHEMIN; ?>/ergoRufrs/exportcsv">Export (csv)</a></li>
	<?/*	hide from non-admin registred user */
	if($session->read('Auth.User.group_id')==3) {
		?>
			<li><a href="<? echo CHEMIN; ?>/ergoRufrs/export">Export (MySQL)</a></li>
<?
}
	?>
						<li><a href="/websites/ergolang/cake/ergo_my_ru_vocs"><?php __('Mes mots') ?></a></li>
			<!--<li><a href="/websites/ergolang/cake/pages/vinci/">Le corps humain</a></li>-->
			<!-- old stuff -->
			<!--<li><a href="/websites/ergolang/cake/pages/clavierrusse" target="_blank">Clavier russe</a></li>
									<li><a href="/websites/ergolang/cake/ergo_my_vocs?langue=ru"><?php __('Mes mots') ?></a></li>
-->


<?
}
	?>
			

			<li><a href="http://www.lexilogos.com/russe_langue_dictionnaires.htm" target="_blank">Dictionnaire lexilogos</a></li>
			<li><a href="http://ru.wikipedia.org/" target="_blank">Wikipédia russe</a></li>
	<?php
	############## ADMIN AREA ##################
	/*	hide from non-admin registred user */
	if($session->read('Auth.User.group_id')==3) {
		?>
		<li><a href="/websites/ergolang/cake/ergo_ru_grammaires/">Grammaire DB</a></li>
		<li><a href="/websites/ergolang/cake/ergo_ru_types">Types grammaticaux</a></li>

		<?
	}
	?>

		</ul>
	</li>
