<?php
/**
* @version        $Id: menufr.ctp v1.0 09.07.2011 06:02:50 CEST $
* @package        Эrgolang
* @copyright      Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
?>
	<!-- français -->
<li><a href="/websites/ergolang/cake/francais">Français</a>
					<ul class="sousMenu">
				<li><a href="/websites/ergolang/cake/ergoFrVocs/">Dictionnaire français</a></li>				
				<li><a href="/websites/ergolang/cake/ergoFrVocs/anagramme">Anagrammes</a></li>		
				<li><a href="/websites/ergolang/cake/ergoFrVocs/mnemotechnique">Mnémotechnique</a></li>		
				
				
					<?php
	############## ADMIN AREA ##################
	/*	hide from non-admin registred user */
	if($session->read('Auth.User.group_id')==3) {
		?>	
				<li><a href="/websites/ergolang/cake/ergoFrVocs/alphabeta">Ordonner voc</a></li>		
				
				<?
			}
			?>
				
				</ul>
</li>
