<?php
/**
* @version        $Id: menulat.ctp v1.0 13.10.2010 10:48:55 CEST $
* @package        Эrgolang
* @copyright    Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
?>
	<!-- latin -->
			<li><a href="/websites/ergolang/cake/latin">Latin</a>
					<ul class="sousMenu">
<li><a href="/websites/ergolang/cake/ergoLatfrs">Dictionnaire latin-français</a></li>
		
				</ul>
</li>
