<script type="text/javascript">
function openFullScreen(url,popup) {
	  var x, y;
	    /*x = screen.width;
	      y = screen.height;*/
	      x=400;
	      y=250;
	        popup = window.open(url,popup,'top=0, left=0, location=no, toolbar=yes, menubar=no, status=no, resizable=yes, scrollbars=yes, width='+x+', height='+y);
		  popup.focus();
	  }
	  </script>
	  <a href="javascript:openFullScreen('http://www.lexilogos.com/russe_langue_dictionnaires.htm#f','lexilogos');">Dictionnaire lexilogos popup</a>
	   | <a href="javascript:openFullScreen('http://129.194.18.197/websites/ergolang/cake/ergoRufrs/add','dico');">Ajouter un mot</a>
