<div class="ergoCategories form">
<?php echo $form->create('ErgoCategory');?>
	<fieldset>
 		<legend><?php __('Add ErgoCategory');?></legend>
	<?php
		#echo $form->input('parent');

?>	<div class="input text"><label for="ErgoCategoryParent">Catégorie parent</label>
<select name="data[ErgoCategory][parent]">
<option value="0" selected>--- aucune (défaut) ---</option>
<?
$sql="select * from ergo_categories ORDER BY libelle";
$sql=mysql_query($sql);
$sqln=mysql_num_rows($sql);
$i=0;
while($i<$sqln){
echo "<option value=\"" .mysql_result($sql,$i,'id') ."\">";
echo mysql_result($sql,$i,'libelle');
echo "</option>\n";
$i++;
}
echo "</select>";


?>
</select>
</div>
<?
		echo $form->input('libelle');
		echo $form->input('notes');
	?>
	</fieldset>
<?php echo $form->end('Submit');?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('List ErgoCategories', true), array('action'=>'index'));?></li>
	</ul>
</div>
