<div class="ergoCategories form">
<?php echo $html->getCrumbs(' > ','Home'); ?>
<?php $html->addCrumb('Catégories', '/ergo_categories'); ?>
<?php echo $form->create('ErgoCategory');?>
	<fieldset>
 		<legend><?php __('Modifier la catégorie');?></legend>
	<?php
		echo $form->input('id');
		echo $form->input('parent');
echo '		#todo: select the good parent id in the list';
#		$parentori=$form['ErgoCategory']['parent'];
		echo 
'		<select name="data[ErgoCategory][parent]">
<option value="0" selected>--- aucune (défaut) ---</option>';
$sql="select * from ergo_categories ORDER BY libelle";
$sql=mysql_query($sql);
$sqln=mysql_num_rows($sql);
$i=0;
while($i<$sqln){
echo "<option value=\"" .mysql_result($sql,$i,'id');
/*$parent=mysql_result($sql,$i,'id');
	if($parent==$oriparent) {
		echo " selected";
	}
	* */
echo "\">";
#echo "po:" .$parentori ." - par:" .$parent ." - ";
echo mysql_result($sql,$i,'libelle');
echo "</option>\n";
$i++;
}
echo "</select>";
		
		echo $form->input('libelle');
		echo $form->input('notes');
	?>
	</fieldset>
<?php echo $form->end('Submit');?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('Delete', true), array('action'=>'delete', $form->value('ErgoCategory.id')), null, sprintf(__('Are you sure you want to delete # %s?', true), $form->value('ErgoCategory.id'))); ?></li>
		<li><?php echo $html->link(__('List ErgoCategories', true), array('action'=>'index'));?></li>
	</ul>
</div>
