<div class="ergoCategories view">
<h2><?php  __('ErgoCategory');?></h2>
	<dl><?php $i = 0; $class = ' class="altrow"';?>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Id'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php echo $ergoCategory['ErgoCategory']['id']; ?>
			&nbsp;
		</dd>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Parent'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php 
#			echo $ergoCategory['ErgoCategory']['parent']; 
if($ergoCategory['ErgoCategory']['parent']>0){
$sql="select * from ergo_categories WHERE id=".$ergoCategory['ErgoCategory']['parent'];
$sql=mysql_query($sql);
echo mysql_result($sql,0,'libelle');
} else {
	echo "/";
}
			?>
			&nbsp;
		</dd>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Libelle'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php echo $ergoCategory['ErgoCategory']['libelle']; ?>
			&nbsp;
		</dd>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Notes'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php echo $ergoCategory['ErgoCategory']['notes']; ?>
			&nbsp;
		</dd>
	</dl>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('Edit ErgoCategory', true), array('action'=>'edit', $ergoCategory['ErgoCategory']['id'])); ?> </li>
		<li><?php echo $html->link(__('Delete ErgoCategory', true), array('action'=>'delete', $ergoCategory['ErgoCategory']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $ergoCategory['ErgoCategory']['id'])); ?> </li>
		<li><?php echo $html->link(__('List ErgoCategories', true), array('action'=>'index')); ?> </li>
		<li><?php echo $html->link(__('New ErgoCategory', true), array('action'=>'add')); ?> </li>
	</ul>
</div>
<?
echo "<h2>Mots en " .$session->read("langue") ." pour cette catégorie:</h2>"; 


if($session->read("langue")) {
echo "<h2>Mots en " .$session->read("langue") ." pour cette catégorie:</h2>"; 
}
?>
