<div class="ergoLangues form">
<?php echo $form->create('ErgoLangue');?>
	<fieldset>
 		<legend><?php __('Edit ErgoLangue');?></legend>
	<?php
		echo $form->input('id');
		echo $form->input('code');
		echo $form->input('lib');
	?>
	</fieldset>
<?php echo $form->end('Submit');?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('Delete', true), array('action'=>'delete', $form->value('ErgoLangue.id')), null, sprintf(__('Are you sure you want to delete # %s?', true), $form->value('ErgoLangue.id'))); ?></li>
		<li><?php echo $html->link(__('List ErgoLangues', true), array('action'=>'index'));?></li>
	</ul>
</div>
