<div class="ergoRuGrammaires form">
<?php echo $form->create('ErgoRuGrammaire');?>
	<fieldset>
 		<legend><?php __('Add ErgoRuGrammaire');?></legend>
	<?php
		#echo $form->input('ergo_ru_type_id', array("value"=>"['ErgoRuType']['lib']"));

?>
<div class="input select">
<label for="ErgoRuGrammaireErgoRuTypeId">Type</label>
<select name="data[ErgoRuGrammaire][ergo_ru_type_id]" id="ErgoRuGrammaireErgoRuTypeId">
<?
$sql="SELECT * FROM ergo_ru_types ORDER BY lib";
$sql=mysql_query($sql);
$i=0;
while($i<mysql_num_rows($sql)){
	echo "<option value=\"" .mysql_result($sql,$i,'id') ."\">" .mysql_result($sql,$i,'lib')."</option>";
	$i++;
	}
?>
</select>
<?
		echo $form->input('lib', array("size" => "80"));
		echo $form->input('text', array("rows"=>"10", "cols" => "100"));
		echo $form->input('url', array("size" => "80"));
		echo $form->input('rem');
	?>
	</fieldset>
<?php echo $form->end('Submit');?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('List ErgoRuGrammaires', true), array('action'=>'index'));?></li>
	</ul>
</div>
