<?php
/**
* @version        $Id: checkimport.ctp v1.0 18.03.2010 15:36:36 CET $
* @package        Эrgolang
* @copyright    Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
tool to check imported files
*/
$this->pageTitle = "Check import";
?>
<h1>Check import</h1>
<h2>todo: script for replacing URLs</h2>
<h3>Files remaining to import</h3>
<?

$YourFile = "/var/www/ergolangcopy/langues2.ups-tlse.fr/Beatrice/grammaire/listfiles";
  $handle = fopen($YourFile, 'r');
  
  $checkedFiles=";accord-pluriel-adjectif1.htm;!adjectifs.htm;!divers.htm;!verbes.htm;!substantifs.htm;!particules.htm;nominatif%20pluriel.htm;!menu_gram.htm;l'instrumental%20singulier.htm;les%20verbes%20en%20ovat'.htm;LES%20VERBES%20en%20nout'.htm;GRAMMAIRE.html;exe.comparatif1.htm;exe.comparatif2.htm;exe.comparatif.htm;exe.demonstratif1.htm;exe.demonstratif.htm;exercice accord adjectif2.htm;exercice_accord_avec_les_numerau2.htm;exo_preverbes_mouv.htm;exo_neutres_mia1.htm;exo_neutres_mia2.htm;exo_neutres_mia3.htm;exo_neutres_mia4.htm;exo_neutres_mia5.htm;exo_neutres_mia6.htm;exercice_genre_des_noms2.htm;!Exercices%20liste.htm;";
  
  $i=0; $j=0;
    while (!feof($handle))
    {
		$i++;
    $Data = fgets($handle, 256);
    $Data1=trim(ereg_replace(" ","%20",$Data));
	if(eregi("\.htm",$Data)&&!eregi(";$Data1;",$checkedFiles)&&!eregi("^exercice_accord_au_pas",$Data1)) {
	if(!eregi("exercice",$Data)){	
	$sql1="SELECT * FROM ergo_ru_grammaires WHERE url LIKE '%".$Data1."'";
}else{
	$sql1="SELECT * FROM exercices WHERE source LIKE '%".$Data1."'";
	
}
	
	#echo "<font color=green>".$sql1 ."</font><br>"; //test
	#do and check sql
	$sql=mysql_query($sql1);
	if(!$sql) {
		echo "<font color=red>SQL error: " .mysql_error() ."<br>" .$sql1 ."</font><hr>";
	}
	
if(mysql_num_rows($sql)<1){
		$j++;
		    print '<a target="_blank" href="http://langues2.ups-tlse.fr/Beatrice/grammaire/' .$Data .'">' .$Data ."</a>";
    print "<br>";
}	
		}
	
    
    }
    
    fclose($handle);

echo "<hr><br><strong>Total missing: " .$j . " (Total records: " .$i .") = " .intval(100*$j/$i) ."% </strong>";

/*
pronoms%20personnels.html;96



* 
* 
* 
* 
 * */
?>
