<div class="ergoRuGrammaires form">
<?php echo $form->create('ErgoRuGrammaire');?>
<input type="submit">
	<fieldset>
 		<legend><?php __('Edit ErgoRuGrammaire');?></legend>
	<?php
							
		echo $form->input('id');
	
		?>
		<label for="ErgoRuGrammaireErgoRuTypeId">Type</label>
<select name="data[ErgoRuGrammaire][ergo_ru_type_id]" id="ErgoRuGrammaireErgoRuTypeId">
<?
$sql="SELECT * FROM ergo_ru_types ORDER BY lib";
$sql=mysql_query($sql);
$i=0;
while($i<mysql_num_rows($sql)){
	echo "<option value=\"" .mysql_result($sql,$i,'id') ."\"";
	
	if(mysql_result($sql,$i,'id')==$form->value('ErgoRuGrammaire.ergo_ru_type_id')) {
		echo " selected";
	}
	
	echo ">" .mysql_result($sql,$i,'lib')."</option>";
	$i++;
	}
?>
</select>
<?
		echo $form->input('lib', array("size"=>"50"));
		echo $form->input('text', array("rows"=>"60", "cols"=>"90"));
		echo $form->input('url', array("size"=>"70"));
		echo $form->input('rem');
	?>
	</fieldset>
<?php echo $form->end('Submit');?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('Delete', true), array('action'=>'delete', $form->value('ErgoRuGrammaire.id')), null, sprintf(__('Are you sure you want to delete # %s?', true), $form->value('ErgoRuGrammaire.id'))); ?></li>
		<li><?php echo $html->link(__('List ErgoRuGrammaires', true), array('action'=>'index'));?></li>
	</ul>
</div>
