<?php
/**
* @version        $Id: nettoyer.ctp v1.0 15.03.2010 13:26:23 CET $
* @package        Эrgolang
* @copyright    Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.

tool to clean imported files
*/
$this->pageTitle = "PUTZ";


?>
<style>
td {
	vertical-align: top;
	}
	</style>
<h1><? echo $this->pageTitle; ?></h1>
<?
$sql="SELECT * FROM exercices";
$sql=mysql_query($sql);
if(!$sql) {
	echo "erreur sql: " .mysql_error(); exit;
}
if(mysql_num_rows($sql)<1) {
	echo "Il n'y a pas d'enregistrements à nettoyer"; exit;
}

$i=0;
while($i<mysql_num_rows($sql)){
	$id=mysql_result($sql,$i,'id');
	$url=mysql_result($sql,$i,'source');
		$url=preg_replace("/.*\//","",$url);
		if(eregi("exercice",$url)) {
			$id="/websites/ergolang/cake/exercices/lexercice/" .$id;
		}
		echo 'replace "'.$url .'" "' .$id .'" -- ergo_ru_grammaires.sql<br>';
		if(eregi("%20",$url)) { //white spaces to clean
			$url=ereg_replace("%20"," ",$url);
		echo 'replace "'.$url .'" "' .$id .'" -- ergo_ru_grammaires.sql<br>';	
		}
	
	
	$i++;
}	 
#do the shell then comment next line
/*
#and now get the url backs
$sql="SELECT * FROM ergo_ru_grammairesSAV";
$sql=mysql_query($sql);
if(!$sql) {
	echo "erreur sql: " .mysql_error(); exit;
}
if(mysql_num_rows($sql)<1) {
	echo "Il n'y a pas d'enregistrements à nettoyer"; exit;
}

$i=0;
while($i<mysql_num_rows($sql)){
	$id=mysql_result($sql,$i,'id');
	$url=mysql_result($sql,$i,'url');
$insere="UPDATE ergo_ru_grammaires SET url ='" .$url ."' WHERE id=" .$id;
$sql2=mysql_query($insere);
if(!$sql2) {
	echo "erreur sql: " .mysql_error(); exit;
}
echo "<br>" .$insere;
	
	$i++;
}
*/

###################3 OLD STUFF ########
/*
$sql="SELECT * FROM ergo_ru_grammaires";
$sql=mysql_query($sql);
if(!$sql) {
	echo "erreur sql: " .mysql_error(); exit;
}
if(mysql_num_rows($sql)<1) {
	echo "Il n'y a pas d'enregistrements à nettoyer"; exit;
}

$i=0;
while($i<mysql_num_rows($sql)){
	$id=mysql_result($sql,$i,'id');
	$url=mysql_result($sql,$i,'url');
		$url=preg_replace("/.*\//","",$url);
		if(eregi("exercice",$url)) {
			$id="/websites/ergolang/cake/exercices/lexercice/" .$id;
		}
		echo 'replace "'.$url .'" "' .$id .'" -- ergo_ru_grammaires.sql<br>';
		if(eregi("%20",$url)) { //white spaces to clean
			$url=ereg_replace("%20"," ",$url);
		echo 'replace "'.$url .'" "' .$id .'" -- ergo_ru_grammaires.sql<br>';	
		}
	
	
	$i++;
}	 
#do the shell then comment next line
exit;

#and now get the url backs
$sql="SELECT * FROM ergo_ru_grammairesSAV";
$sql=mysql_query($sql);
if(!$sql) {
	echo "erreur sql: " .mysql_error(); exit;
}
if(mysql_num_rows($sql)<1) {
	echo "Il n'y a pas d'enregistrements à nettoyer"; exit;
}

$i=0;
while($i<mysql_num_rows($sql)){
	$id=mysql_result($sql,$i,'id');
	$url=mysql_result($sql,$i,'url');
$insere="UPDATE ergo_ru_grammaires SET url ='" .$url ."' WHERE id=" .$id;
$sql2=mysql_query($insere);
if(!$sql2) {
	echo "erreur sql: " .mysql_error(); exit;
}
echo "<br>" .$insere;
	
	$i++;
}
######## grammaire essais infructueux ############
while($i<mysql_num_rows($sql)){
	$id=mysql_result($sql,$i,'id');
	$url=mysql_result($sql,$i,'url');
	$url=preg_replace("/.*\//","",$url);
#	$url="§" .$url ."§";
	#array_push($motifs,$id,$url); //one dimension not good
	array_push($motifs,array($id=>$url)); //pushing into 2 dimensional array, works
	array_push($ids,$id); //pushing into 2 dimensional array, works
	array_push($urls,$url); //pushing into 2 dimensional array, works
	
	//try to put the query here
	$sql2="SELECT * FROM ergo_ru_grammaires WHERE text LIKE '%\"" .$url ."\"%'" ." LIMIT 0,10";
	echo "<br>" .$sql2."<br>";
	$sql2=mysql_query($sql2);
if(!$sql2) {
	echo "erreur sql: " .mysql_error(); exit;
}
if(mysql_num_rows($sql2)<1) {
	echo "Il n'y a pas d'enregistrements à nettoyer";
}
$j=0;
echo "<br># : " .mysql_num_rows($sql2) ."<br><table>";
while($j<mysql_num_rows($sql2)){
		$text=mysql_result($sql2,$j,'text');
		

		$text2=ereg_replace($url,$id,$text);
		$text2=preg_replace("/$url/i","<font color=red>".$id."</font>",$text);
echo "<tr><td>Replace " .$url . " with " .$id ."</td><td></td></tr>";
#echo "<tr><td>" .htmlentities($text) ."</td><td>" .htmlentities($text2) ."</td></tr>";
echo "<tr><td>" .$text ."</td><td>" .$text2 ."</td></tr>";
	
	$j++;
}
	echo "</table>";
	
	
	
	
	
	
	
	  $i++;
}
exit;
echo "<h1>Motifs</h1>";
echo "<pre>".nl2br(print_r(var_dump($motifs)))."</pre>"; //tests
*/
/*echo "<h1>ids</h1>";
echo "<pre>".print_r($ids)."</pre>"; //tests
echo "<h1>urls</h1>";
echo "<pre>".print_r($urls)."</pre>"; //tests
*/


/*to keep if case insensitive
function array_nsearch($needle, array $haystack) {
   $it = new IteratorIterator(new ArrayIterator($haystack));
   foreach($it as $key => $val) {
       if(strcasecmp($val,$needle) === 0) {
           return $key;
       }
   }
   return false;
} 
*/


/*$sql="SELECT * FROM ergo_ru_grammaires";
$sql="SELECT * FROM ergo_ru_grammaires ORDER BY id LIMIT 60,10";
$sql=mysql_query($sql);
if(!$sql) {
	echo "erreur sql: " .mysql_error(); exit;
}
if(mysql_num_rows($sql)<1) {
	echo "Il n'y a pas d'enregistrements à nettoyer"; exit;
}

$i=0;
while($i<mysql_num_rows($sql)){
	$id=mysql_result($sql,$i,'id');
	$url=mysql_result($sql,$i,'url');
	$url=preg_replace("/.*\//","",$url);
	$url=trim($url);
	$text=mysql_result($sql,$i,'text');
	#$text=trim($text);
#	if(preg_match("/$url/",$text)){
	#if (in_array($url, $motifs)) {
    #echo "Got Irix";
    #if(array_search($url, $motifs)){
#$result=array_nsearch($url, $motifs);
#$result=array_search("§".$url."§", $urls);
$result=array_search($url, $urls);
if($result) {
	echo "<h1>Nettoie: " .$id ."</h1>";
	echo "Old url: " .$url ."<br>";	
	#var_dump
	#echo "Search result: " .$result ."<br>";
	echo "New url: " .$ids[$result] ."<br>";
	#echo "Texte original: " .nl2br($text) ."<br>";
	#echo "Texte original: " .htmlentities($text) ."<br>";
	echo "<table>
			  <tr>";
	#$motif2search='/<a href="'.$url.'">/';
	$motif2search='<a href="'.$url.'">';

	
	echo "<td width=\"50%\"><font color=red>Texte original: motif à chercher: " .htmlentities($motif2search) ."<br>" .$text ."</font></td>";
		$motif2replace='<a href="'.$ids[$result].'">';
	$motif2replace=$ids[$result];
	#$text2=preg_replace($motif2search,$motif2replace,$text);
	#$text2=ereg_replace($motif2search,$motif2replace,$text);
	$url=trim($url);


	$text2=ereg_replace($motif2search,$motif2replace,$text);

	echo "<td width=\"50%\"><font color=green>Texte original: motif à remplacer: " .$motif2replace ."<br>"	.$text2."</font></td>";
echo "			  </tr>
		  </table>
";	
	}
	#}
	
	  $i++;
}
echo "<hr><pre>".print_r($motifs)."</pre>"; //tests


#####################################################
########## Remplacements importations HTML ##########
exit; //careful with what follows!
while($i<mysql_num_rows($sql)){
	echo "<h1>Nettoie: " .mysql_result($sql,$i,'id') ."</h1>";
	#echo "<br>" .mysql_result($sql,$i,'lib');
	$texte=mysql_result($sql,$i,'text');
	#nettoie($texte);
	$texte=eregi_replace('&#1040;','А', $texte);
$texte=eregi_replace('&#1072;','а', $texte);
$texte=eregi_replace('&#1041;','Б', $texte);
$texte=eregi_replace('&#1073;','б', $texte);
$texte=eregi_replace('&#1042;','В', $texte);
$texte=eregi_replace('&#1074;','в', $texte);
$texte=eregi_replace('&#1043;','Г', $texte);
$texte=eregi_replace('&#1075;','г', $texte);
$texte=eregi_replace('&#1044;','Д', $texte);
$texte=eregi_replace('&#1076;','д', $texte);
$texte=eregi_replace('&#1045;','Е', $texte);
$texte=eregi_replace('&#1077;','е', $texte);
$texte=eregi_replace('&#1046;','Ж', $texte);
$texte=eregi_replace('&#1078;','ж', $texte);
$texte=eregi_replace('&#1047;','З', $texte);
$texte=eregi_replace('&#1079;','з', $texte);
$texte=eregi_replace('&#1048;','И', $texte);
$texte=eregi_replace('&#1080;','и', $texte);
$texte=eregi_replace('&#1049;','Й', $texte);
$texte=eregi_replace('&#1081;','й', $texte);
$texte=eregi_replace('&#1050;','К', $texte);
$texte=eregi_replace('&#1082;','к', $texte);
$texte=eregi_replace('&#1051;','Л', $texte);
$texte=eregi_replace('&#1083;','л', $texte);
$texte=eregi_replace('&#1052;','М', $texte);
$texte=eregi_replace('&#1084;','м', $texte);
$texte=eregi_replace('&#1053;','Н', $texte);
$texte=eregi_replace('&#1085;','н', $texte);
$texte=eregi_replace('&#1054;','О', $texte);
$texte=eregi_replace('&#1086;','о', $texte);
$texte=eregi_replace('&#1055;','П', $texte);
$texte=eregi_replace('&#1087;','п', $texte);
$texte=eregi_replace('&#1056;','Р', $texte);
$texte=eregi_replace('&#1088;','р', $texte);
$texte=eregi_replace('&#1057;','С', $texte);
$texte=eregi_replace('&#1089;','с', $texte);
$texte=eregi_replace('&#1058;','Т', $texte);
$texte=eregi_replace('&#1090;','т', $texte);
$texte=eregi_replace('&#1059;','У', $texte);
$texte=eregi_replace('&#1091;','у', $texte);
$texte=eregi_replace('&#1060;','Ф', $texte);
$texte=eregi_replace('&#1092;','ф', $texte);
$texte=eregi_replace('&#1061;','Х', $texte);
$texte=eregi_replace('&#1093;','х', $texte);
$texte=eregi_replace('&#1062;','Ц', $texte);
$texte=eregi_replace('&#1094;','ц', $texte);
$texte=eregi_replace('&#1063;','Ч', $texte);
$texte=eregi_replace('&#1095;','ч', $texte);
$texte=eregi_replace('&#1064;','Ш', $texte);
$texte=eregi_replace('&#1096;','ш', $texte);
$texte=eregi_replace('&#1065;','Щ', $texte);
$texte=eregi_replace('&#1097;','щ', $texte);
$texte=eregi_replace('&#1066;','Ъ', $texte);
$texte=eregi_replace('&#1098;','ъ', $texte);
$texte=eregi_replace('&#1067;','Ы', $texte);
$texte=eregi_replace('&#1099;','ы', $texte);
$texte=eregi_replace('&#1068;','Ь', $texte);
$texte=eregi_replace('&#1100;','ь', $texte);
$texte=eregi_replace('&#1069;','Э', $texte);
$texte=eregi_replace('&#1101;','э', $texte);
$texte=eregi_replace('&#1070;','Ю', $texte);
$texte=eregi_replace('&#1102;','ю', $texte);
$texte=eregi_replace('&#1071;','Я', $texte);
$texte=eregi_replace('&#1103;','я', $texte);	


#fonts
$texte=eregi_replace('<font color="#000000">', '', $texte);	
$texte=eregi_replace('<font color="#000000" size="+2">', '', $texte);	
$texte=eregi_replace('<font color="#000000" size="4">', '', $texte);	
$texte=eregi_replace('<font color="#000099">', '', $texte);	
$texte=eregi_replace('<font color="#0000FF">', '', $texte);	
$texte=eregi_replace('<font color="#0000FF" size="4">', '', $texte);	
$texte=eregi_replace('<font color="#0033FF">', '', $texte);	
$texte=eregi_replace('<font color="#006600">', '', $texte);	
$texte=eregi_replace('<font color="#009900">', '', $texte);	
$texte=eregi_replace('<font color="#009900" size="4">', '', $texte);	
$texte=eregi_replace('<font color="#333333">', '', $texte);	
$texte=eregi_replace('<font color="#3333FF">', '', $texte);	
$texte=eregi_replace('<font color="#660000">', '', $texte);	
$texte=eregi_replace('<font color="#666600">', '', $texte);	
$texte=eregi_replace('<font color="#666600" size="4">', '', $texte);	
$texte=eregi_replace('<font color="#666600" size="4" face="Times New Roman, Times, serif">', '', $texte);	
$texte=eregi_replace('<font color="#808000">', '', $texte);	
$texte=eregi_replace('<font color="#990000">', '', $texte);	
$texte=eregi_replace('<font color="#999900">', '', $texte);	
$texte=eregi_replace('<font color="#990000" size="+2">', '', $texte);	
$texte=eregi_replace('<font color="#CC0000">', '', $texte);	
$texte=eregi_replace('<font color="#CC0000" size="4">', '', $texte);	
$texte=eregi_replace('<font color="#FFFF99" size="6" face="Times New Roman, Times, serif">', '', $texte);	
$texte=eregi_replace('<font color="#800000">', '', $texte);	
$texte=eregi_replace('<font face="Times New Roman">', '', $texte);	
$texte=eregi_replace('<font face="Times New Roman, Times, serif">', '', $texte);	
$texte=eregi_replace('<font size=+1>', '', $texte);	
$texte=eregi_replace('<font size=+1 color="#666600">', '', $texte);	
$texte=eregi_replace('<font color="#990000" size="4">', '', $texte);	
$texte=eregi_replace('"<font size=+2>"', '', $texte);	
$texte=eregi_replace('<font size="+2">', '', $texte);	
$texte=eregi_replace('<font size="2">', '', $texte);	
$texte=eregi_replace('<font size="+2" color="#666600">', '', $texte);	
$texte=eregi_replace('<font size=4 color="#000000">', '', $texte);	
$texte=eregi_replace('<font size="4" color="#666600">', '', $texte);	
$texte=eregi_replace('<font size="4" color="#990000">', '', $texte);	
$texte=eregi_replace('<font size=4 color="#990000">', '', $texte);	
$texte=eregi_replace('<font color="#993300">', '', $texte);	
$texte=eregi_replace('<font size="4">', '', $texte);	
$texte=eregi_replace('"<font size=4>"', '', $texte);	
$texte=eregi_replace('<font size="4" face="Times New Roman, Times, serif">', '', $texte);	
$texte=eregi_replace('<font size=4 face="Times New Roman, Times, serif">', '', $texte);	
$texte=eregi_replace('<font size=4 face="Times New Roman, Times, serif"><font color="#666600">', '', $texte);	
$texte=eregi_replace('<font size="5">', '', $texte);	
$texte=eregi_replace('<font size="6">', '', $texte);	
#html fonts etc
$texte=eregi_replace(' BGCOLOR="#4E2701"', '', $texte);	
$texte=eregi_replace('<center>', '', $texte);	
$texte=eregi_replace('<p align="center">','<p>', $texte);	

#img
$texte=eregi_replace('<img SRC="line5.gif" height=12 width=625>', '', $texte);	
$texte=eregi_replace('<img SRC="line5.gif" VSPACE=5 height=11 width=600>', '', $texte);	
$texte=eregi_replace('<img SRC="line5.gif" height=11 width=600>', '', $texte);	
#table
$texte=eregi_replace('<table BORDER COLS=1 WIDTH="42%" HEIGHT="68" >','<table>', $texte);	
$texte=eregi_replace('<table BORDER WIDTH="100%" >', '<table>', $texte);	
$texte=eregi_replace('<table width="95%" border="1">', '<table>', $texte);	
$texte=eregi_replace('<table BORDER="1" WIDTH="95%" height="255" >',  '<table>', $texte);	
$texte=eregi_replace('<td align="center">', '<td>', $texte);	
$texte=eregi_replace('<td height="19">', '<td>', $texte);	
$texte=eregi_replace('<td width="22%">', '<td>', $texte);	
$texte=eregi_replace('<td height="27">', '<td>', $texte);	
$texte=eregi_replace(' border="1" width="90%"', '', $texte);	
$texte=eregi_replace(' width="50%"', '', $texte);	
$texte=eregi_replace('<td BGCOLOR="#660000"', '<td', $texte);	
	
#div
$texte=eregi_replace('<div align="center">', '<div>', $texte);	
#end markers
$texte=eregi_replace('</font></font>',  '', $texte);	
$texte=eregi_replace('</font>', '', $texte);	
$texte=eregi_replace('</center>', '', $texte);	
$texte=eregi_replace('</body>', '', $texte);	
$texte=eregi_replace('</html>', '', $texte);	
#width
$texte=eregi_replace(' width="24%"', '', $texte);	
$texte=eregi_replace(' width="23%"', '', $texte);	
$texte=eregi_replace(' width="31%"', '', $texte);	
$texte=eregi_replace(' width="50%" align="center"', '', $texte);	
 
#images
$texte=eregi_replace('<img SRC="line5.gif" VSPACE=5 height=12 width=625>', '', $texte);	
$texte=eregi_replace('<img border="0" src="_RetourTexte.jpg" width="45" height="28">', '', $texte);	

#ereg
$texte=eregi_replace(' align="center"', '', $texte);	
$texte=eregi_replace(' width="[0-9]*"', '', $texte);
$texte=eregi_replace(' width="[0-9]*%"', '', $texte);
$texte=eregi_replace(' height="[0-9]*"', '', $texte);

#links
//grammaire
$texte=eregi_replace('au.htm', '15', $texte);
$texte=eregi_replace('DECLINAISON%20DES%20FEMININS.htm', '9', $texte);	
$texte=eregi_replace('DECLINAISON%20DES%20NOMS%20MASCUILINS.htm', '17', $texte);	
$texte=eregi_replace('DECLINAISON%20DES%20NEUTRES.htm', '11', $texte);	
$texte=eregi_replace('Les%20verbes%20de%20type%20govorit.html', '59', $texte);
$texte=eregi_replace('LOCATIF.html', '3', $texte);	
$texte=eregi_replace('NOMINATIF.html','25', $texte);
$texte=eregi_replace('PALATALISATION.htm', '60', $texte);
$texte=eregi_replace('sur.htm', '31', $texte);
$texte=eregi_replace('OUPOSS_.HTM', '26', $texte);
$texte=eregi_replace('ouposs', '26', $texte);
$texte=eregi_replace('tournures impersonnelles.html', '32', $texte);


$texte=eregi_replace('href="GENITIF"', 'href="18"', $texte);
*/
/*bugs
$texte=eregi_replace('href="ETRE"','81', $texte);
$texte=eregi_replace('href="les_cardinaux"','4', $texte);
$texte=eregi_replace('href="DATIF"','39', $texte);
$texte=eregi_replace('href="onpeut"','115', $texte);
$texte=eregi_replace('href="ACCUSATIF"','14', $texte);

$texte=eregi_replace('<a 81>','<a href="81"', $texte);
$texte=eregi_replace('<a 4>','<a href="4"', $texte);
$texte=eregi_replace('<a 39>','<a href="39"', $texte);
$texte=eregi_replace('<a 115>','<a href="115"', $texte);
$texte=eregi_replace('<a 14>','<a href="14"', $texte);
*/
/*
//exercices
$texte=eregi_replace('href="exercice_accord_au_passe"','href="/websites/ergolang/cake/exercices/lexercice/53"', $texte);
$texte=eregi_replace('href="exercice_tournures_impersonnelle"','href="/websites/ergolang/cake/exercices/lexercice/54"', $texte);
#$texte=eregi_replace('<a /websites','<a href=/websites', $texte);
/*
 * todo
 * 
*/
 /*
#remove all other html tags
		$texte=strip_tags($texte,'<p><br><a><table><tr><td><strong>');
	#$text=htmlentities($text);
#$text=trim($text);
	#echo "<br>" .$texte ."<hr>"; exit;
	$texte=addslashes($texte);
	
	$modif="UPDATE ergo_ru_grammaires SET text=\"" .$texte ."\" WHERE id=" .mysql_result($sql,$i,'id');
	#echo "<hr>" .$modif ."<hr>";
	
	
	$modif=mysql_query($modif);
		if(!$modif) {
			echo "Sql error: " .mysql_error(); exit;
		}
	
		$i++;

	}
*/	
	/*trim fields*/
	
	/*exercices 
	 */
	/*
$modif="UPDATE `exercices` SET 
titreexercice = TRIM(titreexercice), 
soustitre = TRIM(soustitre), 
liengrammaire = TRIM(liengrammaire), 
debutcontenu = TRIM(debutcontenu), 
fincontenu = TRIM(fincontenu) ,
source = TRIM(source)";
$modif=mysql_query($modif);
		if(!$modif) {
			echo "Sql error: " .mysql_error(); exit;
		} */
		/*exercices russe
		 * */
		/*
$modif="UPDATE ergo_ru_exercices SET 
enonce = TRIM(enonce),
reponse = TRIM(reponse),
reponsepost = TRIM(reponsepost),
tips = TRIM(tips)";
		$modif=mysql_query($modif);
		if(!$modif) {
			echo "Sql error: " .mysql_error(); exit;
		} */
		
?>
