<?php
/**
* @version        $Id: vue.ctp v1.0 15.03.2010 11:08:31 CET $
* @package        Эrgolang
* @copyright    Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
$this->pageTitle = $ergoRuGrammaire['ErgoRuGrammaire']['lib'];
#'Grammaire Russe- view'; 

?>
<h1><? echo $this->pageTitle; ?></h1>


<? 
$sql="SELECT * FROM ergo_ru_types WHERE id=" .$ergoRuGrammaire['ErgoRuGrammaire']['ergo_ru_type_id'];
$sql=mysql_query($sql);

$url=strtolower(mysql_result($sql,0,'lib'));
if($url!="others") {
echo "<h2>Type: ";

echo '<a href="/websites/ergolang/cake/pages/ru/';
if($url=="substantifs: les cas") {
	$url="substantifs";}

	echo $url;
echo '">' .mysql_result($sql,0,'lib').'</a>';
}
?>

</h2>


<?
echo $ergoRuGrammaire['ErgoRuGrammaire']['text']; 


source($ergoRuGrammaire['ErgoRuGrammaire']['url']);//source
	/*	user admin todo hide from non-admin registred user */
	if($session->read('Auth.User.group_id')==3) {
?>				<li><?php echo $html->link(__('Edit ErgoRuGrammaire', true), array('action'=>'edit', $ergoRuGrammaire['ErgoRuGrammaire']['id'])); ?> </li>
<?
	}
?>

