/* special css for autocomplete 
 * http://www.formation-cakephp.com/34/autocomplete-en-ajax#more-34
 * */
.auto_complete {
	position: absolute;
	background: white;
	border: 1px solid #ccc;
}
.auto_complete ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.auto_complete ul li {
	padding: 5px;
}
.selected {
	background-color: #ffc;
}
