/**
* @version        $Id: ergolang.css v1.0 30.12.2009 08:54:11 CET $
* @package        Эrgolang
* @copyright    Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/

/* The ergolang stylesheet
 * */
.header {
background-color: #FAFABD;
margin-right: 300px;
}
/* HTML */
*{
margin:0;
padding:0;
font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
font-size: 1em;
}


/** General Style Info **/
body {
	background: snow;
	color: #fff;
	
	margin: 0;
	font-size:12px;
}

	
/* links */		
a {
text-decoration: none;
font-weight: normal;
color: navy;
}		

a:hover{

/*
 *  * //bug with css menus
background-color: #F4F1F1;*/
color: tomato;
}

h1,h2,h3 {
color: #CF1E0E;
}
h1 {
padding-bottom: 5px;
font-size: 1.6em;
}

h2 {
padding-top: 6px;
padding-bottom: 5px;
padding-left: 8px;
font-size: 1.4em;
}
h3 {
padding-top: 3px;
padding-bottom: 3px;
padding-left: 16px;
font-size: 1.2em;
}


/* TABLES */
table {
 /*border-width:1px; 
 border-style:solid; 
 border-color:black;
 width:50%;*/
 }
td { 
 border-width:thin;
 border-style: solid; 
 border-color:lightgrey;
 vertical-align: top;
 /*width:50%;*/
 }

table tr.altrow td {
	background: #f4f4f4;
	/*fdf0f0*/
}

/* special classes */

#leftnav {
/*background: #003d4c;*/
padding-top: 5px;
}

.local {
color: #000000;
background: #E5E5E5;
font-weight: bold;
font-size: 1.1em;
padding-left: 5px;
padding-right: 5px;
}
.foreign{
color: #FF0000;
background: #FBFBC8;
font-weight: bold;
font-size: 1.1em;
padding-left: 5px;
padding-right: 5px;
}

.noteinfo {
	color: #FF6A00;
	font-style: italic;
}

#logo {
/*position: relative;
top: 0px;
left: 10px;
margin-bottom: 10px;
		background-color: #efeded;
		*/
		padding-left: 20px;

}

.imglogo {
position: absolute;
top: 30px;
left: 0;
width: 150px;
height: 38px;
}


.footer {
height: 20px;
}

.login, .logout {
padding: 3px;font-size: 0.8em;
position: absolute;
/**/
top: 1%;

/*left: 800px;*/
left: 19%;
border-style: outset; color: #333333; background-color: #CCCCCC; 
border-top-width: medium; border-right-width: medium; border-bottom-width: medium; border-left-width: medium; 
vertical-align: top;
margin-bottom: 4px;
}
.login:hover, .logout:hover {
color: #666666; background-color: #FFCC99; border-style: inset; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin
}
.logout {
position: absolute;
top: 50px;
/* hide it */
display: none;
}

/* url sources */
.source, a.source, a.source2 {
	font-size:0.8em;
	color: #000033;
			text-decoration: none;

}

a.source:before {
content: "Source(s): \"";
}
a.source:after {
content: "\"";
}

/* exercices */
    input.juste {
        border:1px solid black;
        background-color:#b5fdb6;
    }

    input.faux {
        border:1px solid black;
        background-color:#ff7373;
    }

.exsuivant {
        background-color:#ADFF2F;
        padding: 1px;
        padding-left: 5px;

}
a.exsuivant:after {
content: " >";
}
.exprecedent{
        background-color:#90EE90;
        padding: 1px;
        padding-right: 5px;

}
a.exprecedent:before {
content: "< ";
}

.messagenavi {
font-size: 2em;
background-color: #FFA500;
padding: 5px;
}

.noscript{
color: red;
font-weight: bold;
font-size: 1.1em;
position: absolute;
top: 80px;
left: 250px;
}

/*.logoprint{
position: relative;
right: 10%;
bottom: 15px;
}
*/
.validator{
/*position: relative;
left: 50%;
bottom: -100px;*/
}

.contact {
color: PeachPuff;
}

.help{
/*position: relative;
left: 20%;
bottom: -25px;*/
}

.tablepied {
text-align: center;
background-color: #FFFEB7;
vertical-align: middle;
}


.modification {
background-color: #E6E6FA;
color: #000061;
font-size: smaller;
padding: 1px;
}
.multiclavier{
position: absolute;
top: 2px;
left: 700px;
}

.menu {
/*background: tomato;*/
}

.categories {
position: absolute;
top: 100px;
right: 100px;
border: thin solid red;
padding: 25px;
background-color: lightyellow;
}
/** liste des catégories dans un select **/
.listcategories {
font-size: 0.7em;
color: black;
}

/*categoriesoptions*/

.categoriesoptions {
background-color: #FFEAC4;
}

/*options cochées*/
option[selected] { background: #EFB346; } 

/*search form from http://www.commentcamarche.net/faq/4516-webmaster-un-formulaire-de-contact-pour-votre-site */
/* form#cherche {
 border:2px solid red;width:70%;padding:1em
 }*/
  .vider {
  border:2px; 
  background-color: #FDD5D9; 
  padding:10px; 
  padding-left: 20px;
  padding-right: 20px;
  color: grey;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);

  }
  
  
  
  .chercher {border:2px; background-color:#AAEE2D;margin-left:10%;padding:10px}
  .txttosearch {background-color:#FFEFC2; color: #49496D; width: 100%}


.flags {
}

.languessel {
position: absolute;
top: 2px;
right: 25px;
z-index: 199;
font-size: 8px;
}

.transpa {
border: none;
}

.boiteflags {
vertical-align: middle;
border: none;
}
.drapeau {
border: thin solid;
width: 30px;
height: 20px;
}
.petit {
font-size: 8px;
/*font-size: 9px;*/
}
.cacher {
display: none;
}
.traduiremot {
/*position: relative;
top: -20px;
margin-left: 200px;
padding-left: 200px;*/
float: left;
font-size: smaller;
}
.gtrans {
position: relative;
padding: 2px;
font-weight: bold;
top: -30px;
left: 500px;
background-color: #90EE90;
}

/* ##################################################################
 * infobulles see http://oblomov.info/dokuwiki/info:infobulles
 * usage:
 * <a href="url-du-lien" class="tooltip">texte du lien<em><span></span>texte de l'infobulle</em></a>
 * */
a.tooltip em {
    display:none;
}
a.tooltip:hover {
    border: 0;
    position: relative;
    z-index: 500;
    text-decoration:none;
}
a.tooltip:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    top: 20px;
    left: -10px;
    padding: 5px;
    color: #000;
    border: 1px solid #bbb;
    background: #ffc;
    width:170px;
}
a.tooltip:hover em span {
    position: absolute;
    top: -7px;
    left: 15px;
    height: 7px;
    width: 11px;
    background: transparent url(infobulle.gif);
    margin:0;
    padding: 0;
    border: 0;
}

.resultats {
background-color: #ECF8EC;
}

/* hide edit from wikipedia */
.editsection {
display: none;
}

/* addthis style for social bookmarking */
.addthis_toolbox {
position:fixed;
top:80px;
right:350px;
z-index:999;
}