/**
* @version        $Id: style.css v1.0 30.12.2009 08:54:11 CET $
* @package        Эrgolang
* @copyright    Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/

/* CakePHP basic stylesheet, modified for ergolang */

*{
margin:0;
padding:0;
font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
font-size: 1em;
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
}
.left {
	float: left;
}
.right {
	float: right;
}
table {
	background-color: #fff;
}
div.paging {
	clear: both;
	color: #ccc;
	margin-top: 1em;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
/* Notices and Errors */
div.message {
	clear: both;
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 0 40px;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
}
.notice {
	background-color: #ffcc00;
	color: #000;
	display: block;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background-color: green;
	color: #FFF;
}
/* Debugging */
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	border: 4px dotted #ffcc00;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 7px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #FFFF00;
	padding: 4px;
}

/* Main Content */
body{
font-size:12px;
color:#333;
/*background:#003d4c url(images/body_bg.gif) repeat-x left 25px;*/
}


/*
*  General Style Info
*/

a{
color:#003d4c;
text-decoration:none;
outline:none;
}
a:hover{
color:#003d4c;
text-decoration:underline;
}

img, a img, .image{
border:none;
border-style: none;
}




em {
 font-size: 12px;
}

li em {
 font-size: 10px;
}



li {
list-style-image: url("images/arrow.gif");
}

/*
*  Layout
*/

#container {
padding-left: 2em;
padding-bottom: 1em;
/*	position:relative;
	width:860px;
	margin:0 auto;
	padding-top:80px;*/
}

#header{
	position:relative;
	padding:15px;
	height:150px;
	width: 830px;
	background:#e4471a url(images/header_bg.gif);
}

#header h1{
	position:absolute;
	left:50px;
	top:-10px;
}

#header .copy{
	position:absolute;
	color:#fff;
	font-size:30px;
	font-weight:normal;
	top:35px;
	left:280px;
	padding-right: 10px;
}



/*
 * navigations
 */

.navigation{
	height:30px;
	line-height:30px;
	padding:0 15px;
}

.navigation li{
	display:block;
	float:left;
}

.navigation a{
	display:block;
	float:left;
	padding:0 12px;
	text-decoration:none;
}
.navigation a:hover{
	text-decoration:underline;
}

#main_nav{
	font-size:120%;
	position:absolute;
	top:40px;
	height:40px;
	line-height:40px;
	left:0;
	background:#cc6 url(images/main_nav_bg.gif) no-repeat bottom;
	width:100%;
}

#main_nav a:hover{
	color:#e32;
}

#secondary_nav{
	font-size:90%;
	position:absolute;
	top:0;
	right:0;
	z-index:5;
	background:transparent;
}

#secondary_nav a{
	color:#c0c25b;
}


#sites_nav{
position:absolute;
top:0px;
left:0;
width:100%;
height:40px;
/*background:transparent url(images/sites_nav_bg.png) no-repeat bottom center;*/
}

#sites_nav ul {
	margin-left: 5px;
}

#sites_nav a{
	color:#e77844;
}

#sites_nav li.current a{
	color:#fff;

}

#search{
	position:absolute;
	top:40px;
	right:0;
	height:40px;
	width:200px;
	background:url(images/search_bg.png) no-repeat;
}

#search label, #search2 label{
	display:none;
}

#search #search_term{
	display:block;
	position:absolute;
	left:8px;
	top:6px;
	width:150px;
	height:16px;
	background:none;
	border:none;
	color:#003441;
}

#search #search_submit_btn{
	display:block;
	position:absolute;
	right:20px;
	top:5px;
	width:20px;
	height:16px;
	background:none;
	border:none;
	text-indent:-5000px;
	cursor:pointer;
}
#search2 {
	margin-bottom: 12px;
}
#search2 #search_term {
	font-size: 20px;
}
#search2 #search_submit_btn {
	font-size: 18px;
	vertical-align: 15%;
}


#content{
	position:relative;
	padding:0;
	background:#fff;
}

/*
 * panels stuff
 */

.tab-container{
	margin:0 15px;
}

body.js .tab-container{
	position:relative;
	padding-top:50px;
	overflow:hidden;
	width: 830px;
}

.tabs{
	height:50px;
	width:100%;
	line-height:50px;
	padding-left:55px;
	position:absolute;
	top:0;
	left:0;
	background:#fff url(images/tabs_bar_bg.png) no-repeat;
}

.tabs li{
	float:left;
	display:block;
}

.tabs a{
	font-size:130%;
	color:#fff;
	text-decoration:none;
	/*text-align:center;*/
	display:block;
	float:left;
	width:140px;
}

.tabs li a:hover{
	color:#fff;
	/*background:transparent url(images/tab_hover.png) no-repeat center;*/
}

.tabs li.active a{
	color:#003d4c;
	/*background:transparent url(images/tab_active.png) no-repeat center;*/
}

.tabs a.previous, .tabs a.next{
	text-indent:-5000px;
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:50px;
	height:50px;
	background:url(images/tab_arrows.png) no-repeat left;
}

.tabs a.next{
	left:780px;
	background:url(images/tab_arrows.png) no-repeat right;
}

body.js .panels{
	position:relative;
	width:9000px;
	left:0;
}

.panel{
	font-size: 14px;
	line-height: 20px;
	padding:15px 15px 0 290px;
	position:relative;
	border-bottom:1px solid #eee;
}

body.js .panel{
	width:524px;
	float:left;
	height:289px;
	border:none;
	/*background:url(images/panel_bg.png) no-repeat center;*/
}


.panel .image{
	position:absolute;
	left:15px;
	top:10px;
	padding:6px;
}

.panel .actions{
	position:absolute;
	left:560px;
	top:15px;
	list-style-type:none;
}

.panel li {
	margin: 4px 0;
}

/* tabs */
#get-it {
	width:544px;
	padding:15px 15px 0 270px;
}
#get-it p {
	width: 270px;
}
#get-it li {
	margin-left: 34px;
}
#get-it li.download_stable {
	list-style-image:  none;
	margin: 0;
}
#get-it li.download_stable a{
	/*text-align:center;*/
	display:block;
	width:240px;
	height:120px;
	line-height:140px;
	background:transparent url(images/download_btn.png) no-repeat;
}

#get-it li.download_stable a strong{
	display:none;
}

/*
 * meta
 */

div#cakefest {
	background: #C73E14;
	font-size: 20px;
	color: #484848;
	background: #f0f09a;
	padding: 10px;
	padding-left: 15px;
	padding-bottom: 0px;
	height:35px;
}
div#cakefest a {
	color: #ff8929;
}
div#cakefest strong {
	color: #e4471a;
}

div#breakingnews {
	background: #C73E14;
	font-size: 20px;
	color: #f4f4f4;
	margin: 0 20px 10px 20px;
	padding: 10px;
}
div#breakingnews strong {
	color: #fff;
}
div#breakingnews a {
	color: #FFFF66;
}
#meta{
	overflow:hidden;
	margin-top:10px;
	padding:15px;
	background:#f0f09a url(images/meta_bg.png) repeat-x bottom;
}

#meta h3{
	font-size:18px;
	color:#e4471a;
	padding:0 15px;
	height:30px;
	line-height:30px;
	background:url(images/meta_div_h3.png) no-repeat;
}

#meta h4{
	font-size:12px;
	color:#2c6877;
	padding:6px 12px;
}

#meta div ul{
	padding:3px 0 3px 30px;
	list-style-type:square;
	width: 146px;
}

.box, #conferences, #donations, #quotes, #just_baked, #bakery_last, #ohloh_journal {
	float:left;
	width:196px;
	margin-right:11px;
	padding-bottom:10px;
}
#donations{
	color:#fff;
	background:#14424f url(images/meta_donate_bg.png) no-repeat bottom;
}
#quotes {
	height: 60%;
}
#quotes, #just_baked, #bakery_last, #ohloh_journal {
	background:#f9f9d2 url(images/meta_div_bg.png) repeat-x;
}

#donations h3{
	padding:0 30px 0 11px;
	color:#fe0;
	font-size: 15px;
	font-weight: normal;
	background:url(images/meta_donate_h3.png) no-repeat;
}

#donations h4{
	color:#fe6;
	font-weight: normal;
}


#donations li{
	list-style-type:none;
}

#donations li a{
	color:#f9f9f2;
	display:block;
}

#donations li.sponsor-cakefest a{
	font-weight: bold;
}

#quotes .quote{
	padding:3px 15px;
}

#quotes .quote blockquote{
	padding:0;
	font-size:110%;
	font-style:italic;
}
#just_baked ul li {
	margin-bottom: 10px;
}
/*
 *  Footer
 */
.page {
	background: #fff;
	padding: 20px 40px;
}
.page h2 {
	margin: 0;
}

#footer {
    color: #fff;
    background: #003d4c url(images/footer_bg.gif) no-repeat right top;
    padding:20px 10px;
    text-align: right;
}

#footer p {
	font-size:90%;
}

#footer p a{
	color:#c0c25b;
}

ul.features {
	font-size: 85%;
	margin-top: 10px;
}
ul.features li {
	margin-left: 20px;
}

/*
 * Feeds
 */
div.channel {
	float: left;
	width: 365px;
	margin-top: 10px;
	margin-left: 4px;
	margin-right: 20px;
	margin-bottom: 10px;
}
div.channel h3 {
	margin: 0;
	font-size: 18px;
}
#interact div.channel {
	width: 500px;
}
.zebra {
	background-color: #f4f4f4;
}
ul.items {
	margin-left: 8px;
}
ul.items li {
 	margin-left: 10px;
	padding: 3px;
}
form#FeedSubmitForm {
	float: left;
	width: 360px;
}
form#FeedSubmitForm label {
	display: block;
}
form#FeedSubmitForm .clear {
	display: none;
}
form#FeedSubmitForm .submit {
	margin: 10px 60px;
}
#bakery_last div.channel, #ohloh_journal div.channel {
	overflow:hidden;
	width: auto;
}
#bakery_last ul.items, #ohloh_journal ul.items {
	margin: 0;
}
#bakery_last ul.items li, #ohloh_journal ul.items li  {
	margin: 0;
}
table {
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 2px solid #CCCC66;
}
table th {
	text-align: left;
	padding: 4px 10px;
	background-color: #CCCC66;
}
table td {
	text-align: left;
	padding: 4px 10px;
}
table td a.dir {
	font-weight: bold;
}
table.downloads td {
	font-size: 14px;
	padding: 8px;
}
h4.title {
	padding: 4px 0;
	font-size: 14px;
}
h4.title em {
	font-size: 10px;
}
div#markers {
	clear: both;
	display: none;
}
div#markers .geo {
	float: left;
	width: 200px;
	padding: 10px;
	margin-right: 30px;
}

/* FORMS */
.form form {
	margin-top: 10px;
}
.form form fieldset {
	padding: 6px 20px;
}
.form form fieldset legend {
	font-size: 16px;
	font-weight: bold;
}
.form form div {
	padding: 4px 0;
}
.form form label {
	display: block;
}
.form form input[type=text] {
	width: 100%;
	font-size: 14px;
}
.form form textarea {
	width: 100%;
}
.form form div.submit {
	margin-top: 10px;
	/*text-align: center;*/
}

option {
	padding: 0px 0px 0px 4px;
/*	bas padding: 1px 1px 12px 1px;
 * */
}


a.white {
	color: #f4f4f4;
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl.altrow, dt.altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}
