<?php
/**
* @version        $Id: add.ctp v1.0 07.03.2010 11:31:56 CET $
* @package        Эrgolang
* @copyright    Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
	Configure::write('debug', 0); //test
//on vient d'une leçon
if ($_GET['id_exs']) {
$id_exs=$_GET['id_exs'];
$id_l=$_GET['id_l'];
} else {
	//on prend le dernier id
	$sql=mysql_query("SELECT *
FROM `ergo_ru_exercices`
ORDER BY `ergo_ru_exercices`.`id` DESC LIMIT 0,1");
$id_exs=mysql_result($sql,0,'id_exs');
$id_l=mysql_result($sql,0,'id_l');
}
?>
<div class="ergoRuExercices form">
<?php echo $form->create('ErgoRuExercice');?>
	<fieldset>
 		<legend><?php __('Add ErgoRuExercice');?></legend>
	<?php
		echo $form->input('id_exs', array("value"=>$id_exs));
		echo $form->input('id_l', array("value"=>$id_l));
				?><a name="reponse"></a><?

		echo $form->input('enonce');
		echo $form->input('reponse');
		#echo $form->input('reponsepost', array("value"=>"."));
		echo $form->input('reponsepost');
		?>
		<input type="submit">
		<?
		echo $form->input('tips');
		#echo $form->input('rang');
	?>
		<div class="input text"><label for="ErgoRuExerciceRang">Rang</label><input name="data[ErgoRuExercice][rang]" type="text" value="0.00" maxlength="7" value="" id="ErgoRuExerciceRang" /></div>
	</fieldset>
<?php echo $form->end('Submit');?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('List ErgoRuExercices', true), array('action'=>'index'));?></li>
	</ul>
</div>
