<div class="josErgolangRuMots index">
<h2><?php __('JosErgolangRuMots');?></h2>
<p>
<?php
echo $paginator->counter(array(
'format' => __('Page %page% of %pages%, showing %current% records out of %count% total, starting on record %start%, ending on %end%', true)
));
?></p>
<table cellpadding="0" cellspacing="0">
<tr>
	<th><?php echo $paginator->sort('id');?></th>
	<th><?php echo $paginator->sort('russe');?></th>
	<th><?php echo $paginator->sort('francais');?></th>
	<th><?php echo $paginator->sort('phonetique');?></th>
	<th><?php echo $paginator->sort('type');?></th>
	<th><?php echo $paginator->sort('date');?></th>
	<th class="actions"><?php __('Actions');?></th>
</tr>
<?php
$i = 0;
foreach ($josErgolangRuMots as $josErgolangRuMot):
	$class = null;
	if ($i++ % 2 == 0) {
		$class = ' class="altrow"';
	}
?>
	<tr<?php echo $class;?>>
		<td>
			<?php echo $josErgolangRuMot['JosErgolangRuMot']['id']; ?>
		</td>
		<td>
			<?php echo $josErgolangRuMot['JosErgolangRuMot']['russe']; ?>
		</td>
		<td>
			<?php echo $josErgolangRuMot['JosErgolangRuMot']['francais']; ?>
		</td>
		<td>
			<?php echo $josErgolangRuMot['JosErgolangRuMot']['phonetique']; ?>
		</td>
		<td>
			<?php echo $josErgolangRuMot['JosErgolangRuMot']['type']; ?>
		</td>
		<td>
			<?php echo $josErgolangRuMot['JosErgolangRuMot']['date']; ?>
		</td>
		<td class="actions">
			<?php echo $html->link(__('View', true), array('action'=>'view', $josErgolangRuMot['JosErgolangRuMot']['id'])); ?>
			<?php echo $html->link(__('Edit', true), array('action'=>'edit', $josErgolangRuMot['JosErgolangRuMot']['id'])); ?>
			<?php echo $html->link(__('Delete', true), array('action'=>'delete', $josErgolangRuMot['JosErgolangRuMot']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $josErgolangRuMot['JosErgolangRuMot']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
</table>
</div>
<div class="paging">
	<?php echo $paginator->prev('<< '.__('previous', true), array(), null, array('class'=>'disabled'));?>
 | 	<?php echo $paginator->numbers();?>
	<?php echo $paginator->next(__('next', true).' >>', array(), null, array('class'=>'disabled'));?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('New JosErgolangRuMot', true), array('action'=>'add')); ?></li>
	</ul>
</div>
