
<!-- eventually see http://oblomov.info/russe/clavier.html -->

<script type="text/javascript" src="/websites/ergolang/static/comlat.js"></script>
<script type="text/javascript" src="/websites/ergolang/static/carru.js"></script>


<table cellpadding="2" width="100%">
  <tbody><tr valign="top"> 
	<td><h1>russe - русский</h1></td>
  </tr>

</tbody></table>
  <div align="center">
	<br>
<form name="conversion">
    <textarea name="saisie" onkeyup="transcrire()" rows="4" class="cadr"></textarea>
	<br>
	<br>
	<input onclick="conversion.saisie.select();copy()" value="copier" class="bf" type="button"> &nbsp; &nbsp; 
	<input onclick="reset();conversion.saisie.focus()" value="effacer" class="bf" type="button"> &nbsp; &nbsp; 
  <br><br> 
	<table>
	  <tbody><tr align="center"> 
		<td>a</td>
		<td>b</td>
		<td>v</td>
		<td>g</td>
		<td>d</td>
		<td>e</td>
		<td>ë</td>
		<td>ž</td>
		<td>z</td>
		<td>i</td>
		<td>j</td>
		<td>k</td>
		<td>l</td>
		<td>m</td>
	  </tr>
	  <tr align="center"> 
		<td><input value="А" onclick="alpha('А')" class="bt" type="button"></td>
		<td><input value="Б" onclick="alpha('Б')" class="bt" type="button"></td>
		<td><input value="В" onclick="alpha('В')" class="bt" type="button"></td>
		<td><input value="Г" onclick="alpha('Г')" class="bt" type="button"></td>
		<td><input value="Д" onclick="alpha('Д')" class="bt" type="button"></td>
		<td><input value="Е" onclick="alpha('Е')" class="bt" type="button"></td>
		<td><input value="Ё" onclick="alpha('Ё')" class="bt" type="button"></td>
		<td><input value="Ж" onclick="alpha('Ж')" class="bt" type="button"></td>
		<td><input value="З" onclick="alpha('З')" class="bt" type="button"></td>
		<td><input value="И" onclick="alpha('И')" class="bt" type="button"></td>
		<td><input value="Й" onclick="alpha('Й')" class="bt" type="button"></td>
		<td><input value="К" onclick="alpha('К')" class="bt" type="button"></td>
		<td><input value="Л" onclick="alpha('Л')" class="bt" type="button"></td>
		<td><input value="М" onclick="alpha('М')" class="bt" type="button"></td>
	  </tr>
	  <tr align="center"> 
		<td><input value="а" onclick="alpha('а')" class="bt" type="button"></td>
		<td><input value="б" onclick="alpha('б')" class="bt" type="button"></td>
		<td><input value="в" onclick="alpha('в')" class="bt" type="button"></td>
		<td><input value="г" onclick="alpha('г')" class="bt" type="button"></td>
		<td><input value="д" onclick="alpha('д')" class="bt" type="button"></td>
		<td><input value="е" onclick="alpha('е')" class="bt" type="button"></td>
		<td><input value="ё" onclick="alpha('ё')" class="bt" type="button"></td>
		<td><input value="ж" onclick="alpha('ж')" class="bt" type="button"></td>
		<td><input value="з" onclick="alpha('з')" class="bt" type="button"></td>
		<td><input value="и" onclick="alpha('и')" class="bt" type="button"></td>
		<td><input value="й" onclick="alpha('й')" class="bt" type="button"></td>
		<td><input value="к" onclick="alpha('к')" class="bt" type="button"></td>
		<td><input value="л" onclick="alpha('л')" class="bt" type="button"></td>
		<td><input value="м" onclick="alpha('м')" class="bt" type="button"></td>
	  </tr>
	</tbody></table>
	<br>	  	
	<table>
	  <tbody><tr align="center">
		<td>n</td>
		<td>o</td>
		<td>p</td>
		<td>r</td>
		<td>s</td>
		<td>t</td>
		<td>u</td>
		<td>f</td>
		<td>x</td>
		<td>c</td>
		<td>č</td>
		<td>š</td>
		<td>šč</td>
		<td>’’</td>
		<td>y</td>
		<td>’</td>
		<td>è</td>
		<td>ju</td>
		<td>ja</td>
	  </tr>
	  <tr align="center">
		<td><input value="Н" onclick="alpha('Н')" class="bt" type="button"></td>
		<td><input value="О" onclick="alpha('О')" class="bt" type="button"></td>
		<td><input value="П" onclick="alpha('П')" class="bt" type="button"></td>
		<td><input value="Р" onclick="alpha('Р')" class="bt" type="button"></td>
		<td><input value="С" onclick="alpha('С')" class="bt" type="button"></td>
		<td><input value="Т" onclick="alpha('Т')" class="bt" type="button"></td>
		<td><input value="У" onclick="alpha('У')" class="bt" type="button"></td>
		<td><input value="Ф" onclick="alpha('Ф')" class="bt" type="button"></td>
		<td><input value="Х" onclick="alpha('Х')" class="bt" type="button"></td>
		<td><input value="Ц" onclick="alpha('Ц')" class="bt" type="button"></td>
		<td><input value="Ч" onclick="alpha('Ч')" class="bt" type="button"></td>
		<td><input value="Ш" onclick="alpha('Ш')" class="bt" type="button"></td>
		<td><input value="Щ" onclick="alpha('Щ')" class="bt" type="button"></td>
		<td><input value="Ъ" onclick="alpha('Ъ')" class="bt" type="button"></td>
		<td><input value="Ы" onclick="alpha('Ы')" class="bt" type="button"></td>
		<td><input value="Ь" onclick="alpha('Ь')" class="bt" type="button"></td>
		<td><input value="Э" onclick="alpha('Э')" class="bt" type="button"></td>
		<td><input value="Ю" onclick="alpha('Ю')" class="bt" type="button"></td>
		<td><input value="Я" onclick="alpha('Я')" class="bt" type="button"></td>
	  </tr>
	  <tr align="center">
		<td><input value="н" onclick="alpha('н')" class="bt" type="button"></td>
		<td><input value="о" onclick="alpha('о')" class="bt" type="button"></td>
		<td><input value="п" onclick="alpha('п')" class="bt" type="button"></td>
		<td><input value="р" onclick="alpha('р')" class="bt" type="button"></td>
		<td><input value="с" onclick="alpha('с')" class="bt" type="button"></td>
		<td><input value="т" onclick="alpha('т')" class="bt" type="button"></td>
		<td><input value="у" onclick="alpha('у')" class="bt" type="button"></td>
		<td><input value="ф" onclick="alpha('ф')" class="bt" type="button"></td>
		<td><input value="х" onclick="alpha('х')" class="bt" type="button"></td>
		<td><input value="ц" onclick="alpha('ц')" class="bt" type="button"></td>
		<td><input value="ч" onclick="alpha('ч')" class="bt" type="button"></td>
		<td><input value="ш" onclick="alpha('ш')" class="bt" type="button"></td>
		<td><input value="щ" onclick="alpha('щ')" class="bt" type="button"></td>
		<td><input value="ъ" onclick="alpha('ъ')" class="bt" type="button"></td>
		<td><input value="ы" onclick="alpha('ы')" class="bt" type="button"></td>
		<td><input value="ь" onclick="alpha('ь')" class="bt" type="button"></td>
		<td><input value="э" onclick="alpha('э')" class="bt" type="button"></td>
		<td><input value="ю" onclick="alpha('ю')" class="bt" type="button"></td>
		<td><input value="я" onclick="alpha('я')" class="bt" type="button"></td>
	  </tr>
	</tbody></table>
    <br>
    <br>
    <table>
      <tbody><tr> 
        <td><input class="bt" onclick="alpha('«')" value="«" type="button"></td>
        <td><input class="bt" onclick="alpha('»')" value="»" type="button"></td>
        <td><input class="bt" onclick="alpha('„')" value="„" type="button"></td>
        <td><input class="bt" onclick="alpha('“')" value="“" type="button"></td>
        <td><input class="bt" onclick="alpha('—')" value="—" type="button"></td>
        <td><input class="bt" onclick="alpha('…')" value="…" type="button"></td>        
	<td><input class="bt" onclick="alpha('/')" value="/" type="button"></td>
	<td><input class="bt" onclick="alpha('.')" value="." type="button"></td>
	<td><input class="bt" onclick="alpha('|')" value="|" type="button"></td>
	<td><input class="bt" onclick="alpha(',')" value="," type="button"></td>
      </tr>
    </tbody></table>
  </form>
  </div>
<hr>
<em>Source: based on: </em><a href="http://www.lexilogos.com/clavier/russkij.htm">http://www.lexilogos.com/clavier/russkij.htm</a>
