<script type="text/javascript" src="/websites/ergolang/static/comlat.js"></script>
<script type="text/javascript" src="/websites/ergolang/static/carru.js"></script>
  <div align="center">
<form name="conversion">
    <textarea name="saisie" onkeyup="transcrire()" rows="4" class="cadr"></textarea>
	<input onclick="conversion.saisie.select();copy()" value="copier" class="bf" type="button"> &nbsp; &nbsp; 
  <br><br> 
	<table>
	  <tr align="center"> 
		<td><input value="а" onclick="alpha('а')" class="bt" type="button"></td>
		<td><input value="б" onclick="alpha('б')" class="bt" type="button"></td>
		<td><input value="в" onclick="alpha('в')" class="bt" type="button"></td>
		<td><input value="г" onclick="alpha('г')" class="bt" type="button"></td>
		<td><input value="д" onclick="alpha('д')" class="bt" type="button"></td>
		<td><input value="е" onclick="alpha('е')" class="bt" type="button"></td>
		<td><input value="ё" onclick="alpha('ё')" class="bt" type="button"></td>
		<td><input value="ж" onclick="alpha('ж')" class="bt" type="button"></td>
		<td><input value="з" onclick="alpha('з')" class="bt" type="button"></td>
		<td><input value="и" onclick="alpha('и')" class="bt" type="button"></td>
		<td><input value="й" onclick="alpha('й')" class="bt" type="button"></td>
		<td><input value="к" onclick="alpha('к')" class="bt" type="button"></td>
		<td><input value="л" onclick="alpha('л')" class="bt" type="button"></td>
		<td><input value="м" onclick="alpha('м')" class="bt" type="button"></td>
	  </tr>
<tr align="center">
		<td><input value="н" onclick="alpha('н')" class="bt" type="button"></td>
		<td><input value="о" onclick="alpha('о')" class="bt" type="button"></td>
		<td><input value="п" onclick="alpha('п')" class="bt" type="button"></td>
		<td><input value="р" onclick="alpha('р')" class="bt" type="button"></td>
		<td><input value="с" onclick="alpha('с')" class="bt" type="button"></td>
		<td><input value="т" onclick="alpha('т')" class="bt" type="button"></td>
		<td><input value="у" onclick="alpha('у')" class="bt" type="button"></td>
		<td><input value="ф" onclick="alpha('ф')" class="bt" type="button"></td>
		<td><input value="х" onclick="alpha('х')" class="bt" type="button"></td>
		<td><input value="ц" onclick="alpha('ц')" class="bt" type="button"></td>
		<td><input value="ч" onclick="alpha('ч')" class="bt" type="button"></td>
		<td><input value="ш" onclick="alpha('ш')" class="bt" type="button"></td>
		<td><input value="щ" onclick="alpha('щ')" class="bt" type="button"></td>
		<td><input value="ъ" onclick="alpha('ъ')" class="bt" type="button"></td>
		<td><input value="ы" onclick="alpha('ы')" class="bt" type="button"></td>
		<td><input value="ь" onclick="alpha('ь')" class="bt" type="button"></td>
		<td><input value="э" onclick="alpha('э')" class="bt" type="button"></td>
		<td><input value="ю" onclick="alpha('ю')" class="bt" type="button"></td>
		<td><input value="я" onclick="alpha('я')" class="bt" type="button"></td>
	  </tr>
	</tbody></table>
    <table>
      <tbody><tr> 
        <td><input class="bt" onclick="alpha('«')" value="«" type="button"></td>
        <td><input class="bt" onclick="alpha('»')" value="»" type="button"></td>
        <td><input class="bt" onclick="alpha('„')" value="„" type="button"></td>
        <td><input class="bt" onclick="alpha('“')" value="“" type="button"></td>
        <td><input class="bt" onclick="alpha('—')" value="—" type="button"></td>
        <td><input class="bt" onclick="alpha('…')" value="…" type="button"></td>        
	<td><input class="bt" onclick="alpha('/')" value="/" type="button"></td>
	<td><input class="bt" onclick="alpha('.')" value="." type="button"></td>
	<td><input class="bt" onclick="alpha('|')" value="|" type="button"></td>
	<td><input class="bt" onclick="alpha(',')" value="," type="button"></td>
      </tr>
    </tbody></table>
  </form>
  </div>

