<pre>
notes todos Fred

copier db et files sur akademia, installer export.sh

finir putz
/web/websites/ergolang
/web/websites/ergolangold

copier batiments unige; insérer les titres des pages

lier voc à http://swac-collections.org/?lang=rus / http://shtooka.net/collections/rus/fr/
=== scripts ===
js analyse à passer ds global controller
</pre>


Categories
<pre>
todo download page links http://129.194.18.197/websites/ergolang/cake/pages/download

drill s'inspirer de anki pour les scores et les rappels
=== site ===

menu (pour le moment pas clair du tout)
dhtml menu
http://www.andrewsellick.com/44/sexy-sliding-menu-for-scriptaculous
http://bakery.cakephp.org/articles/view/css-menu-helper

-- mes mots
par date
par catégorie - mes catégories - catégories communes; 
à propose des catégories:
hiérarchie? 
moteur de recherche?
les mots que je sais
ceux que je crois connaître
ceux que je connais un peu
mal
pas du tout
jamais testé (nouveaux mots)
-- leçons / tests
à la main? 
avec moodle?
avec limesurvey?
--short term
-- secu
compte demo possibilité de supprimer ses enregistrements, éventuellement par un crontab
antihack (cake sanitize à creuser)
group admin a les droits pour tout et users
<strong>autres groupes: empêcher de voir / modifier users etc.</strong>
user normal ne doit pouvoir modifier que ses enregistrements
-- long term
ajouter un blog
ajouter un wiki (dokuwiki? comment faire l'authentification depuis cake?)
ajouter les liens
se passer de joomla
téléchargement des dictionnaires

internationalisation (tous les textes en XML, cf mu)
http://www.sanisoft.com/blog/2007/06/09/multilingual-apps-with-cakephp/
http://www.formation-cakephp.com/41/multilingue-18n-l10n
</pre>
<?
//default language = french

/*
 * $xmlDoc = new DOMDocument("1.0");

if($lang) {
	if($lang=='fr'){
	$xmlDoc->load("welcome_fr.xml");
	}
	else if($lang=='en'){
		$xmlDoc->load("welcome_en.xml");
	}
}else{
	$xmlDoc->load("welcome_fr.xml");
}

	$xmlDoc->load("welcome_fr.xml");

$x = $xmlDoc->documentElement;
foreach ($x->childNodes AS $item)
{
 	 $a [$item->nodeName] = $item->nodeValue ; 
}

*/
?>
