<?php
/**
* @version        $Id: vinci.ctp v1.0 03.11.2010 06:37:05 CET $
* @package        Эrgolang
* @copyright      Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/

#### test which server are we running on? ####
if($_SERVER["HTTP_HOST"]!="oblomov.info"){//$_SERVER["HTTP_HOST"] de développement - tests
$letitrep="Эrgolang TESTSERVER";
$CHEMIN="ergolang/cake";
} else {//$_SERVER["HTTP_HOST"] de prod
$letitrep="Эrgolang";
$CHEMIN="websites/ergolang/cake";
}
#### end test which server are we running on? ####
$racineweb=$_SERVER["HTTP_HOST"]. "/" .$CHEMIN ."/";
$limage="http://" .$racineweb ."img/ergolang/vinci-homme-vitruve.jpg";
#echo $limage; exit;
#echo $racineweb; exit;
#echo $html->image('ergolang/vinci-homme-vitruve.jpg', array("alt"=>"Da Vinci, homme de Vitruve","title"=>"Da Vinci, homme de Vitruve"));


$main="рука";
$bras="рука";
$tete="голова";
$cheveu="волос";
$front="лоб";
$sourcil="бровь";
$oeil="глаз";
$narine="ноздря";
$nez="нос";
$bouche="рот";
$menton="подбородок";
$cou="шея";
$buste="бюст";
echo "<p><img src=\"http://" .$racineweb ."img/AT_WORK0.GIF\" alt=\"page en construction\" title=\"page en construction\" width=\"35\" height=\"35\">";
?>
<em>Note Fred 3.11.2010: page en construction, patience! A terme, vous pourrez voir les détails du corps humain, pour le moment les liens ne sont pas fonctionnels et seuls certaines parties du corps sont traduites; vous pouvez déjà essayer la <a href="http://oblomov.info/websites/ergolang/cake/ergoRufrs/categories?lib=Corps%20humain&cat=17">catégorie "corps humain"</a> - aussi en construction</em>
<br><br><br>
</p>
<img src="<? echo $limage;?>" BORDER="0" USEMAP="#diagram">
<map name="diagram">
<!--<area shape="rect" href="tete" title="<? echo $tete?>" alt="<? echo $tete?>" coords="354,180,486,285" />-->
  <area shape="poly" href="cheveux"  title="<? echo $cheveu?>" alt="<? echo $cheveu?>" coords="482,259,457,284,444,274,455,224,438,203,407,202,395,232,403,271,384,287,365,244,372,212,400,185,448,185,479,209,486,236" />
  <area shape="poly" href="front" title="<? echo $front?>" alt="<? echo $front?>" coords="448,221,439,205,410,204,401,219" />
  <area shape="rect" href="sourcils" title="<? echo $sourcil?>" alt="<? echo $sourcil?>" coords="403,220,444,224" />
  <area shape="rect" href="oeild" title="<? echo $oeil?>" alt="<? echo $oeil?>" coords="430,223,443,229" />
  <area shape="rect" href="oeilg" title="<? echo $oeil?>" alt="<? echo $oeil?>" coords="404,223,416,228" />
  <area shape="rect" href="narined" title="<? echo $narine?>" alt="<? echo $narine?>" coords="425,242,430,245" />
  <area shape="rect" href="narineg" title="<? echo $narine?>" alt="<? echo $narine?>" coords="417,243,420,245" />  
  <area shape="poly" href="nez" coords="420,223,416,244,432,245,428,224" />
  <area shape="poly" href="bouche" coords="412,253,422,251,429,251,436,254,432,259,424,260,414,259" />
  <area shape="rect" href="menton" coords="410,261,435,269" />
<area shape="poly" href="cou" coords="405,272,399,277,399,287,444,288,443,279,437,274" />
<area shape="rect" href="buste" coords="341,257,514,464" />
  <!-- membres sup -->
  <area shape="rect" href="epaule1" coords="328,264,393,366" />
  <area shape="rect" href="epaule2" coords="467,268,538,356" />
  
  <!-- exemple -->
  <area shape="rect" title="<? echo $main?>" alt="<? echo $main?>" href="maing" coords="99,265,180,342" />
  <area shape="rect" title="<? echo $main?>" alt="<? echo $main?>" href="maind" coords="673,267,768,346" />
  <area shape="rect" title="<? echo $main?>" alt="<? echo $main?>" href="maind" coords="673,182,749,239" />
  <area shape="rect" title="<? echo $main?>" alt="<? echo $main?>" href="maing" coords="114,180,186,239" />
  <area shape="poly" title="<? echo $bras?>" alt="<? echo $bras?>" coords="530,272,529,337,690,330,689,300,548,301,686,236,671,214" />
  <area shape="poly" title="<? echo $bras?>" alt="<? echo $bras?>" coords="329,271,183,213,169,240,315,304,168,296,170,329,332,335" />


<area shape="rect" href="poitrine" coords="355,317,488,371" />
<area shape="rect" href="ventre" coords="364,410,486,484" />
  <!-- bas-ventre -->
  <area shape="rect" href="sexe" coords="387,471,466,572" />  <area shape="rect" href="genoux" coords="287,618,518,684" />
<!-- membres inf -->
<area shape="rect" href="hanches" coords="357,418,495,500" /> 
  <area shape="rect" href="pied3" coords="416,794,534,867" />
  <area shape="rect" href="pied2" coords="368,798,429,862" />
  <area shape="rect" href="pied1" coords="190,754,268,823" />

  <area shape="rect" href="jambes" coords="255,645,587,779" />
  <area shape="rect" href="cuisses" coords="323,532,516,615" />
</map>
