<div class="ergoEnfrs form">
<?php echo $form->create('ErgoEnfr');?>
	<fieldset>
 		<legend><?php __('Add ErgoEnfr');?></legend>
	<?php
		echo $form->input('foreign');
		echo $form->input('local');
	?>
	</fieldset>
<?php echo $form->end('Submit');?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('List ErgoEnfrs', true), array('action'=>'index'));?></li>
	</ul>
</div>
