<?php
/**
* @version        $Id: rumtraincat.ctp v1.0 15.07.2010 06:57:32 CEST $
* @package        Эrgolang
* @copyright      Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
?>

<div class="ErgoEnfrs index">
<?php
$cat=$_GET['cat'];
$i=$_GET['i'];
$sid=$_GET['sid'];
$wordid=$_GET['wordid'];

if(!$i) {
	$i=0;
} else {
	echo "vous avez choisi sid: " .$sid ." pour le mot " .$wordid ."<br>";
}
if(!$cat) {
	getcategories(); //print list of valid categories in english
} else {
	#todo: create SQL tables categories_ergo_enfrs
	$sql="SELECT * FROM categories_ergo_enfrs AS cat, ergo_enfrs AS en
WHERE cat.category_id = " .$cat ." AND 
cat.ergo_enfr_id = en.id 
ORDER BY en.foreign" ;
	#return $sql;
	$sql=mysql_query($sql);

if(!$sql) {
	//category defined
	echo "SQL error: " .mysql_error(); exit;
}

$wordid=mysql_result($sql,$i,'id');
$goodwordForeign=mysql_result($sql,$i,'foreign');
$goodwordLocal=mysql_result($sql,$i,'local');

if($i<mysql_num_rows($sql)){
?>

<!-- print game -->
<form method="GET" name="choix_guide">
<input type="hidden" name="i" value="<? echo ($i+1);?>">
<input type="hidden" name="wordid" value="<? echo $wordid;?>">
<input type="hidden" name="cat" value="<? echo $cat;?>">
<input type="hidden" name="goodwordForeign" value="<? echo $goodwordForeign;?>">
<input type="hidden" name="goodwordLocal" value="<? echo $goodwordLocal;?>">
<table>
<tr><th colspan="3">Que signifie: <span class="foreign"><? echo  $goodwordForeign;?></span></th></tr>
</table>

<table>

 <tr><td><select name="sid" size="6" onChange="document.forms.choix_guide.submit()">
 <option value="5" selected>--- je connais ce mot ---</option>
 <option value="4"> facile / 8j</option>
  <option value="3">good / 3j</option>
  <option value="2">hard / 9h</option>
  <option value="1">again / soon</option>
  <option value="0">--- je ne connais pas ce mot ---</option>

 </select></td>
<td>Remarque facultative<br><textarea name="rem"></textarea></td>

 </tr>
</table>



 


</form>
</div>
<?
} else {
	echo "Exercice fini, voulez-vous <a href=\"?i=0&cat=" .$cat ."\">recommencer</a>?";
	
}
}
?>
