<?php
/**
* @version        $Id: edit.ctp v1.0 10.07.2011 15:01:57 CEST $
* @package        Эrgolang
* @copyright    Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
?>
<div class="ErgoCroatefrs form">
<?php echo $form->create('ErgoCroatefr');?>
	<fieldset>
 		<legend><?php __('Edit ErgoCroatefr');?></legend>
	<?php
		echo $form->input('id');
		echo $form->input('foreign');
		echo $form->input('local');
		echo $form->input('type');
	?>
	</fieldset>
<?php echo $form->end('Submit');?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('Delete', true), array('action' => 'delete', $form->value('ErgoCroatefr.id')), null, sprintf(__('Are you sure you want to delete # %s?', true), $form->value('ErgoCroatefr.id'))); ?></li>
		<li><?php echo $html->link(__('List ErgoCroatefrs', true), array('action' => 'index'));?></li>
	</ul>
</div>
