<div class="posts view">
<h1><?php  __('Nouvelles d\'Эrgolang');?></h1>
<h2><?php echo $post['Post']['title']; ?></h2>
	<p>			<?php echo $post['Post']['body']; ?>
			</p>
			&nbsp;
			
	<dl><?php $i = 0; $class = ' class="altrow"';?>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Created'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php echo $post['Post']['created']; ?>
			&nbsp;
		</dd>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('Modified'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php echo $post['Post']['modified']; ?>
			&nbsp;
		</dd>
		<dt<?php if ($i % 2 == 0) echo $class;?>><?php __('User'); ?></dt>
		<dd<?php if ($i++ % 2 == 0) echo $class;?>>
			<?php 
			#echo $html->link($post['User']['id'], array('controller'=> 'users', 'action'=>'view', $post['User']['id'])); 
			
						/*	hide from non-admin registred user */
if($session->read('Auth.User.group_id')==3) {
			echo $html->link($post['User']['username'], array('controller'=> 'users', 'action'=>'view', $post['User']['id'])); 
		} else {
			echo $post['User']['username']; 
		}

			?>
			&nbsp;
		</dd>
	</dl>
</div>
<?
/*	hide from non-admin registred user */
if($session->read('Auth.User.group_id')==3) {
	?>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('Edit Post', true), array('action'=>'edit', $post['Post']['id'])); ?> </li>
		<li><?php echo $html->link(__('Delete Post', true), array('action'=>'delete', $post['Post']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $post['Post']['id'])); ?> </li>
		<li><?php echo $html->link(__('List Posts', true), array('action'=>'index')); ?> </li>
		<li><?php echo $html->link(__('New Post', true), array('action'=>'add')); ?> </li>
		<li><?php echo $html->link(__('List Users', true), array('controller'=> 'users', 'action'=>'index')); ?> </li>
		<li><?php echo $html->link(__('New User', true), array('controller'=> 'users', 'action'=>'add')); ?> </li>
		<li><?php echo $html->link(__('List Ergo Categories', true), array('controller'=> 'ergo_categories', 'action'=>'index')); ?> </li>
		<li><?php echo $html->link(__('New Ergo Category', true), array('controller'=> 'ergo_categories', 'action'=>'add')); ?> </li>
	</ul>
</div>
<?
}
?>
