<?php
/**
* @version        $Id: autocomplete.ctp v1.0 24.02.2010 12:36:54 CET $
* @package        Эrgolang
* @copyright    Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
?>
<ul>
<?php foreach($lergorufrs as $ergoRufr): ?> 
     <li><?php 
    e($text->highlight(
     	$ergoRufr['ErgoRufr']['local'],
     	$recherche,
     	'<strong>\1</strong>'
     )
     );
      ?></li>
<?php endforeach; ?> 
</ul>
