<?php
/**
* @version        $Id: categories.ctp v1.0 10.06.2010 06:24:30 CEST $
* @package        Эrgolang
* @copyright      Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
App::import('Lib', 'russian'); //imports app/libs/functions

$this->pageTitle = 'Catégories russe'; 
?>
<h1><? echo $this->pageTitle; ?></h1>
<?
$cat=$_GET['cat'];
if($cat){
	getselcategories($cat);




echo "<br><a href=\"export\">Exporter en csv (todo)</a><br>"; 



echo "<a href=rumtraincat?cat=".$cat.">Drill sur cette catégorie</a><br>";

echo "<hr>";



} else {
//homepage of categories
getcategories(); //print list of valid categories in russian


echo "<hr>
<em>Pour ajouter des mots dans une catégorie: éditer le mot et sélectionnez la/les catégories; pour le moment il n'est pas possible de modifier les catégories, mais ça viendra<!-- todo --></em>";


}
?>



