<?php

/**
* @version        $Id: govoc.ctp v1.0 10.12.2009 23:05:57 CET $
* @package        Эrgolang
* @copyright    Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license        GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
#get var
#echo phpinfo(); exit; //tests
$goodwordForeign=$_GET['goodwordForeign'];
$goodwordLocal=$_GET['goodwordLocal'];
#echo "goodwordLocal " .$goodwordLocal;
$answer=$_GET['answer'];
$sid=$_GET['sid'];
$rem=$_GET['rem'];
if(strlen($answer)>0) {
#echo "Reponse: " .$answer; //tests
	if($answer=="0") { //wrong
				$feedback= "Faux!<br>";
		
		$feedback.= "Et non, <span class=\"foreign\">" .$goodwordForeign ."</span> signifie <span class=\"local\">" .$goodwordLocal ."</span>";
	} elseif($answer=="1") { //right
				$feedback= "Juste!<br>";
		
		$feedback.= "Et oui, <span class=\"foreign\">" .$goodwordForeign ."</span> signifie <span class=\"local\">" .$goodwordLocal."</span>";
	} else { //right
		   $feedback="";
	}
	
	echo $feedback ."<br>";
#todo: insert result of the test in table my trainings	
/*
echo "Bienvenue," .$session->read('Auth.User.username');
echo "<br>Ton pseudo: " .$session->read('Auth.User.pseudo');
echo "<br>Ton identifiant: ".$session->read('Auth.User.id');
*/
$utilisateur=$session->read('Auth.User.id'); //todo: bug, valeur vide
$aujourdhui=date("Y-m-d H:m:s");
$langue="ru";
$goodwordForeign=$goodwordForeign;
$goodwordLocal=$goodwordLocal;
	 $sql="INSERT INTO `ergo_training_voc` 
(`id`, `userid`, `sid`, `last_modified`, `lang`, `typ`, `foreign`, `local`, `note`, `rem`) 
VALUES 
('', '$utilisateur', '$sid', '$aujourdhui', '$langue', 'voc', '$goodwordForeign' ,'$goodwordLocal', '$answer', '$rem')
";
#echo $sql; //tests

$sqlI=mysql_query($sql);
if(!$sqlI) {
	echo "erreur MySQL: " .mysql_error();
	exit;
}

echo "<a href=\"rumtrain\">Retour</a>";
	/*
	 *todo insertion sql
	 *  
	
	*/
	#exit;
 }
?>
