<?php
/**
* @version		$Id: mydrill.ctp v1.0 18.10.2011 11:58:27 CEST $
* @package		Эrgolang
* @copyright	Copyright (C) 2009 - 2013 Open Source Matters. All rights reserved.
* @license		GNU/GPL, see LICENSE.php
* Эrgolang is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
/* this script is for viewing the words drilled by the user himself
 * */
//Configure::write('debug', 2);
$this->pageTitle = 'Drill Russe - Mes exercices'; 
?>
<h2><? echo $this->pageTitle;?></h2>
<h3><a href="/websites/ergolang/cake/ergo_my_ru_vocs">Gérer mes mots</a></h3>
<form method="GET" name="choix_guide">
<select name="sid" size="6">
 <option value="4">Bonne connaissance</option>
  <option value="3">Assez bonne connaissance</option>
  <option value="2">Pas terrible</option>
  <option value="1">Mauvais</option>
  <option value="0">Mots inconnus</option>
 </select>
 <input type="submit">
 </form>
<?
//todo: put colors on notes!
//current user
#echo $_GET['sid'];
if(strlen($_GET['sid'])>0) {
	$add=" AND note LIKE '" .$_GET['sid'] ."' ";
} else {
	$add="";
}
$utilisateurid=$session->read('Auth.User.id');
$sql="
SELECT * FROM ergo_training_voc
WHERE 
userid=" .$utilisateurid ."  
AND lang= 'ru'" .$add ." 
ORDER BY note 
";
//echo "<br>".$sql;//tests
$question=$sql;
$questionOri=$question;
$question=mysql_query($question); //finding all words

if(!$question){
	echo "Error mysql: " .mysql_error();
}

$questionN=mysql_num_rows($question);
$i=0;
echo "<table>";
while($i<mysql_num_rows($question)){
	echo "<tr>";
echo "<td>";
	echo mysql_result($question,$i,'foreign');
echo "</td><td>";

	echo mysql_result($question,$i,'local');
echo "</td><td>";
	echo mysql_result($question,$i,'note');
echo "</td>";
	$i++;
	echo "</tr>";
	}
	echo "</table>";

?>
