<div class="ErgoRufrs index">
<h2><a href="../ergoRufrs/">Dictionnaire Russe <=> Français</a></h2>
<h1>Recherche</h1>
<?php
echo $form->create("ErgoRufr",array('action' => 'search'));
echo $form->input("q", array('label' => 'Search for'));
echo $form->end("Search");

#echo phpinfo();
$cherche=$_REQUEST["data"]['ErgoRufr']['q'];
#echo "Q: " .$cherche; exit; //tests
$sql="SELECT  * FROM ergo_rufrs WHERE
`foreign` LIKE '%" .$cherche."%'
OR `local` LIKE '%" .$cherche."%' 
LIMIT 0,100";
#echo $sql ."<br>";
#exit; #tests
$sqlQ=mysql_query($sql);
if(!$sqlQ){
	echo "error sql: " .mysql_error(); exit;
}
	echo "Hits : #" .mysql_num_rows($sqlQ) ."<br>";
?>


<table cellpadding="0" cellspacing="0">
	<tr>
		<th>id</th>
		<th>foreign</th>
		<th>local</th>
		<th class="actions"><?php __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	while($i<mysql_num_rows($sqlQ)){
		$class = null;
		if ($i% 2 == 0) {
			$class = ' class=\"altrow\"';
		}
		echo "<tr" .$class .">
		<td>";
		echo mysql_result($sqlQ,$i,'id');
		echo "
		</td>
		<td>";
		echo mysql_result($sqlQ,$i,'foreign');
		echo "
		</td>
		<td>";
		echo mysql_result($sqlQ,$i,'local');
		echo "</td>
		<td class=\"actions\">";
		echo $html->link(__('View', true), array('action'=>'view', mysql_result($sqlQ,$i,'id')));
		echo $html->link(__('Edit', true), array('action'=>'edit', mysql_result($sqlQ,$i,'id')));
		echo $html->link(__('Delete', true), array('action'=>'delete', mysql_result($sqlQ,$i,'id')), null, sprintf(__('Are you sure you want to delete # %s?', true), mysql_result($sqlQ,$i,'id')));
		echo "		</td>
		</tr>";
		$i++;
	}
	echo "</table></div>";
	?>
