<div class="ergoEnfrs index">
<h2><?php __('ErgoFrVocs');?></h2>
<h1>Chercher dans le dictionnaire</h1>
<?php
echo $form->create("ErgoFrVoc",array('action' => 'search'));
echo $form->input("q", array('label' => 'Search for'));
echo $form->end("Search");

#echo phpinfo();
$cherche=$_REQUEST["data"]['ErgoFrVoc']['q'];
#echo "Q: " .$cherche; exit; //tests
$sql="SELECT  * FROM ergo_fr_vocs WHERE
`libelle` LIKE '%" .$cherche."%'
OR `TYPE` LIKE '%" .$cherche."%' 
OR `genre` LIKE '%" .$cherche."%' 
ORDER BY `libelle`";
#echo $sql ."<br>";
#exit; #tests
$sqlQ=mysql_query($sql);
if(!$sqlQ){
	echo "error sql: " .mysql_error(); exit;
}
	echo "<h2>Hits : #" .mysql_num_rows($sqlQ) ."</h2><br>";
?>


<table cellpadding="0" cellspacing="0">
	<tr>
		<th>id</th>
		<th>libelle</th>
		<th>TYPE</th>
		<th>genre</th>
		<th>num</th>
		<th class="actions"><?php __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	while($i<mysql_num_rows($sqlQ)){
		$class = null;
		if ($i% 2 == 0) {
			$class = ' class=\"altrow\"';
		}
		echo "<tr" .$class .">
		<td>";
		echo mysql_result($sqlQ,$i,'id');
		echo "
		</td>
		<td>";
		echo utf8_encode(mysql_result($sqlQ,$i,'libelle'));
		echo "
		</td>
		<td>";
		echo utf8_encode(mysql_result($sqlQ,$i,'TYPE'));
		echo "</td>";		
		echo "<td>";
		echo utf8_encode(mysql_result($sqlQ,$i,'genre'));
		echo "</td>";		
		echo "<td>";
		echo mysql_result($sqlQ,$i,'num');
		echo "</td>";
		
		
		
		echo "<td class=\"actions\">";
		echo $html->link(__('View', true), array('action'=>'view', mysql_result($sqlQ,$i,'id')));
		echo $html->link(__('Edit', true), array('action'=>'edit', mysql_result($sqlQ,$i,'id')));
		echo $html->link(__('Delete', true), array('action'=>'delete', mysql_result($sqlQ,$i,'id')), null, sprintf(__('Are you sure you want to delete # %s?', true), mysql_result($sqlQ,$i,'id')));
		echo "		</td>
		</tr>";
		$i++;
	}
	echo "</table></div>";
	?>
