<div class="exercices form">
<?php echo $form->create('Exercice');?>
	<fieldset>
 		<legend><?php __('Add Exercice');?></legend>
	<?php
		#echo $form->input('ergo_langue_id');
		echo '<div class="input select required"><label for="ExerciceErgoLangueId">Ergo Langue</label><select name="data[Exercice][ergo_langue_id]" id="ExerciceErgoLangueId">';
echo "<option value=''>-- langue --</option>";
$sql="SELECT * FROM ergo_langues ORDER BY lib";

$sql=mysql_query($sql);
$i=0;
while($i<mysql_num_rows($sql)){
	echo '<option value="' .mysql_result($sql,$i,'id') .'"';
		if(mysql_result($sql,$i,'id')=="1") {
			echo " selected";
		}
	echo '>' .mysql_result($sql,$i,'lib') .'</option>';
	$i++;
}
echo '</select>';
		
		
		/*
		 * 	
*/
		
			$sql=mysql_query("SELECT *
FROM `exercices`
ORDER BY `exercices`.`id` DESC LIMIT 0,1");
$id_exs=mysql_result($sql,0,'id_exs');
$id_l=mysql_result($sql,0,'id_l');
$id_l=$id_l+1;
		
		echo $form->input('id_exs', array("value"=>$id_exs));
		echo $form->input('id_l', array("value"=>$id_l));
		echo $form->input('titreexercice',array("label"=>"Titre de l'exercice"));
		echo $form->input('soustitre');
		echo $form->input('liengrammaire');
		echo $form->input('debutcontenu');
		echo $form->input('fincontenu');
		echo $form->input('source');
		echo $form->input('datemod');
		echo $form->input('user_id');
		echo $form->input('prev_ex', array("value"=>"0"));
		echo $form->input('next_ex', array("value"=>"0"));
	?>
	</fieldset>
<?php echo $form->end('Submit');?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('List Exercices', true), array('action'=>'index'));?></li>
		<li><?php echo $html->link(__('List Ergo Langues', true), array('controller'=> 'ergo_langues', 'action'=>'index')); ?> </li>
		<li><?php echo $html->link(__('New Ergo Langue', true), array('controller'=> 'ergo_langues', 'action'=>'add')); ?> </li>
		<li><?php echo $html->link(__('List Users', true), array('controller'=> 'users', 'action'=>'index')); ?> </li>
		<li><?php echo $html->link(__('New User', true), array('controller'=> 'users', 'action'=>'add')); ?> </li>
	</ul>
</div>
