<div class="ergoMotsassocies index">
<h2><?php __('ErgoMotsassocies');?></h2>
<p>
<?php
echo $paginator->counter(array(
'format' => __('Page %page% of %pages%, showing %current% records out of %count% total, starting on record %start%, ending on %end%', true)
));
?></p>
<table cellpadding="0" cellspacing="0">
<tr>
	<th><?php echo $paginator->sort('id');?></th>
	<th><?php echo $paginator->sort('lang');?></th>
	<th><?php echo $paginator->sort('user_id');?></th>
	<th><?php echo $paginator->sort('ergo_langues_id');?></th>
	<th><?php echo $paginator->sort('category_id');?></th>
	<th><?php echo $paginator->sort('niveau');?></th>
	<th><?php echo $paginator->sort('rem');?></th>
	<th class="actions"><?php __('Actions');?></th>
</tr>
<?php
$i = 0;
foreach ($ergoMotsassocies as $ergoMotsassocy):
	$class = null;
	if ($i++ % 2 == 0) {
		$class = ' class="altrow"';
	}
?>
	<tr<?php echo $class;?>>
		<td>
			<?php echo $ergoMotsassocy['ErgoMotsassocy']['id']; ?>
		</td>
		<td>
			<?php echo $ergoMotsassocy['ErgoMotsassocy']['lang']; ?>
		</td>
		<td>
			<?php echo $ergoMotsassocy['ErgoMotsassocy']['user_id']; ?>
		</td>
		<td>
			<?php 
			
			
			$sql="SELECT * 
			FROM `ergo_" .$ergoMotsassocy['ErgoMotsassocy']['lang'] ."frs`
			WHERE `id` =" .$ergoMotsassocy['ErgoMotsassocy']['ergo_langues_id'];
			$sql=mysql_query($sql);
			$sqlr=mysql_result($sql,0,'foreign') ." / " .mysql_result($sql,0,'local');
			echo $sqlr;
			#echo $ergoMotsassocy['ErgoMotsassocy']['ergo_langues_id']; 
			?>
			
		</td>
		<td>
			<?php echo $ergoMotsassocy['ErgoMotsassocy']['category_id']; ?>
		</td>
		<td>
			<?php echo $ergoMotsassocy['ErgoMotsassocy']['niveau']; ?>
		</td>
		<td>
			<?php echo $ergoMotsassocy['ErgoMotsassocy']['rem']; ?>
		</td>
		<td class="actions">
			<?php echo $html->link(__('View', true), array('action'=>'view', $ergoMotsassocy['ErgoMotsassocy']['id'])); ?>
			<?php echo $html->link(__('Edit', true), array('action'=>'edit', $ergoMotsassocy['ErgoMotsassocy']['id'])); ?>
			<?php echo $html->link(__('Delete', true), array('action'=>'delete', $ergoMotsassocy['ErgoMotsassocy']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $ergoMotsassocy['ErgoMotsassocy']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
</table>
</div>
<div class="paging">
	<?php echo $paginator->prev('<< '.__('previous', true), array(), null, array('class'=>'disabled'));?>
 | 	<?php echo $paginator->numbers();?>
	<?php echo $paginator->next(__('next', true).' >>', array(), null, array('class'=>'disabled'));?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('New ErgoMotsassocy', true), array('action'=>'add')); ?></li>
	</ul>
</div>
